// search
.search-holder {
  float: left;
  height: $header-inner-height;
  position: relative;
  width: $header-inner-height;
}

.search-container {
  display: none;
  height: $header-inner-height;
  position: absolute;
  right: 0;
  top: 0;

  .search-visible & {
    display: block;
  }
}

.search-toggler {
  background: url('../images/ico-search-black.png') no-repeat center center;
  display: none;
  height: $header-inner-height;
  opacity: .35;
  overflow: hidden;
  position: relative;
  width: $header-inner-height;

  &:hover {
    opacity: 1;
  }

  .svg & {
    background: none;
  }

  svg {
    display: none;

    .svg & {
      display: block;
      left: 50%;
      margin: -9px 0 0 -9px;
      position: absolute;
      top: 50%;
    }
  }

  .search-enabled & {
    display: block;
  }

  .search-visible & {
    display: none;
  }
}

.search {
  background: $bg-color;
  box-sizing: border-box;
  height: $header-inner-height;
  padding: 0 $header-inner-height + 10px 0 10px;
  width: 180px;

  .search-input {
    background: none;
    border: none;
    box-sizing: border-box;
    font-size: $font-size - 2px;
    height: $header-inner-height;
    line-height: 1.1;
    outline: 0;
    padding: 0;
    width: 100%;

    &::-ms-clear {
      display: none;
    }
  }

  .search-submit {
    @extend %button;
    background: url('../images/ico-search-black.png') no-repeat center center;
    display: block;
    height: $header-inner-height;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: $header-inner-height;

    .svg & {
      background: none;
    }

    svg {
      display: none;

      .svg & {
        display: block;
        left: 50%;
        margin: -9px 0 0 -9px;
        position: absolute;
        top: 50%;
      }
    }
  }

  .search-close {
    background: url('../images/close.png') no-repeat center center;
    display: none;
    height: $header-inner-height;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: $header-inner-height;

    .svg & {
      background: none;
    }

    svg {
      display: none;

      .svg & {
        display: block;
        left: 50%;
        margin: -6px 0 0 -6px;
        position: absolute;
        top: 50%;
      }
    }
  }


  &.not-empty {
    .search-submit { display: none; }
    .search-close { display: block;}
  }
}

.search-results {
  @include bg($white, .95);
  @include box-shadow(0, 0, 40px, rgba($color-black, .1));
  @include hyphenate(true);
  box-sizing: border-box;
  display: none;
  max-height: 400px;
  overflow: auto;
  padding: 15px 25px;
  position: absolute;
  right: 0;
  top: $header-inner-height;
  width: 400px;

  &.search-results-active {
    display: block;
  }

  .edy-checkout-button-visible & {
    top: 81; // 41 is the height of the checkout button.
  }

  .voog-search-modal-results {
    font-size: 16px;
  }

  .voog-search-modal-result {
    color: $third-color;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 0;

    h3 {
      margin: 0;
      padding: 0 0 10px 0;
      font-size: 16px;
      color: $second-color;

      a {
        color: $second-color;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }

    em {
      font-style: normal;
      background: #fbf5ac;
    }
  }

  .voog-search-loader {
    height: 60px;
    display: none;
    .svg & {
      background: url('../assets/loader.svg') no-repeat center center;
    }
  }

  &.search-results.loading {
    .voog-search-loader {
      display: block;
    }
    .voog-search-modal-results {
      display: none;
    }
  }
}
