.content-item-box {
  color: rgba($color-black, .8);

  .item-list-page & {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;

    @media screen and (max-width: $nano) {
      display: block;
      padding-right: 10px;
      padding-left: 10px;
    }

    @media screen and (min-width: $nano + 1) {
      display: inline-block;
      vertical-align: top;
    }

    @media screen and (min-width: $nano + 1) and (max-width: $tablet) {
      width: 50%;
      padding-right: 10px;
      padding-left: 10px;
    }

    @media screen and (min-width: $tablet + 1) {
      width: 33.3%;
      padding-right: 15px;
      padding-left: 15px;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet)  {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .content-illustrations & {
    margin-bottom: 40px;
  }

  .top-inner {
    opacity: 1;

    &::after {
      .editmode &,
      .item-list-page & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: $color-white;
        content: '';
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }

  &:hover {
    .top-inner {
      // scss-lint:disable NestingDepth
      &::after {
        .editmode &,
        .item-list-page & {
          opacity: .2;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.item-top {
  position: relative;
  @include aspect-ratio(1, 1);

  &:hover {
    .btn,
    .edy-img-drop-area-remove-image {
      opacity: 1;
    }
  }

  .btn {
    padding: 0;
    background-color: rgba($color-science-blue, .3);
    border: 0;
    opacity: 0;
    transition: background-color .5s, opacity .5s;

    &:hover {
      background-color: rgba($color-science-blue, 1);
    }
  }

  .bg-crop-btn {
    @include size(45px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 100%;
    color: rgba($color-white, 1);

    &:focus {
      outline: 0;
    }

    &.is-visible {
      display: block;
    }

    &.is-hidden,
    .without-image & {
      display: none;
    }
  }

  .edy-img-drop-area-remove-image {
    @include size(45px);
    top: 10px;
    right: 10px;
    z-index: 9;
    color: rgba($color-white, 1);
    background-color: rgba($color-science-blue, .3);
    border: 0;
    opacity: 0;
    transition: background-color .5s, opacity .5s;

    &:hover {
      background-color: rgba($color-science-blue, 1);
    }
  }

  .edy-img-drop-area-remove-image-ico {
    margin-top: -10px;
    margin-left: -8px;
  }

  .top-inner {
    @include hyphenate;
    // scss-lint:disable ImportantRule
    display: flex !important;
    // scss-lint:enable ImportantRule
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    .public  & {
      overflow: hidden;

      // scss-lint:disable SelectorDepth
      // scss-lint:disable NestingDepth
      .image-landscape {
        &.not-cropped {
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        &.is-cropped {
          width: auto;
          height: 100%;
        }
      }

      .image-portrait {
        &.not-cropped {
          width: auto;
          height: 100%;
          max-height: 100%;
        }

        &.is-cropped {
          width: 100%;
          height: auto;
        }
      }

      .image-square {
        width: 100%;
        height: auto;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .with-image & {
      background-color: rgba($color-black, .05);
      border: 0;
    }

    .without-image & {
      border-color: rgba($color-black, .1);
      border-style: solid;
      border-width: 1px;

      .dark-background & {
        border-color: rgba($color-white, .1);
      }
    }

    .item-placeholder {
      padding: .5em;
    }
  }

  .image-drop-area {
    // scss-lint:disable ImportantRule
    background-position: center !important;
    // scss-lint:enable ImportantRule
    background-repeat: no-repeat;

    &.not-cropped {
      background-size: contain;
    }

    &:not(.active) {
      border-color: rgba($color-black, .4);
      border-style: dashed;
      border-width: 1px;

      &:hover {
        border-style: solid;
      }
    }

    .edy-img-drop-area-placeholder {
      @media screen and (max-width: $mobile) {
        font-size: 13px;
      }

      @media screen and (min-width: $mobile + 1) {
        font-size: 16px;
      }
    }
  }
}

.item-title {
  @include hyphenate;
  margin-top: 0;
  margin-bottom: 0;

  .item-link {
    color: inherit !important;
    font-weight: 700 !important;

    &:hover {
      opacity: .7;
    }
  }

  .content-item-box > & {
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
  }
}

.item-page {
  .content-header {
    margin-bottom: 20px;
  }
}
