/* COMMENTS */
// Styling rules for the blog article single article comments area.
// Comment form is styled using the form fields styles located in the "_forms.scss" partial.
.comments {
  margin-top: 16px;
  @include border(top, 1px, solid, $primary-color, 0.1);

  .wrap {
    padding: 26px 20px 20px;

    .content-page & {
      max-width: 600px;
    }
  }

  .comment {
    padding: 30px 0;
    @include border(bottom, 1px, solid, $primary-color, 0.1);

    &:first-child {
      @include border(top, 1px, solid, $primary-color, 0.1);
    }
  }

  .comments-title {
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;

    .content-page .content & {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .comment-messages {
    @extend %hyphenate;
    margin: 24px 0;
  }

  .comment-author {
    margin-top: 15px;
    @include color($secondary-color);
  }

  .comment-date {
    margin-top: -5px;
    font-style: italic;
    font-size: 16px;
    @include color($primary-color, 0.37);
  }
}

.comment-form {
  @extend %clearfix;

  form {
    margin-left: 0;
    margin-right: 0;
  }

  .placeholder {
    @include color($primary-color, 0.8);
  }
}

.comment_form_textfield_wrap,
.comment_form_textarea_wrap {
  .content-formatted & {
    margin-top: 0;
  }

  @include query($tablet-5) {
    .content-formatted & {
      padding-top: 20px;
    }
  }
}

.comment_form_textfield_wrap {
  float: left;
  max-width: 290px;

  &:first-child {
    margin-right: 20px;
  }

  .form_field_textfield {
    width: 290px;
    padding: 10px;
  }

  @include query($tablet-5) {
    display: block;
    float: none;
    max-width: none;

    &:first-child {
      margin-right: 0;
      padding-top: 0;
    }

    .form_field_textfield {
      width: 100%;
    }
  }
}

.comment_form_textarea_wrap {
  clear: both;
  padding-top: 20px;

  .form_field_textarea {
    display: block;
    width: 600px;
    padding: 10px;
  }
}
