/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  form,
  .form {
    max-width: 100%;

    .main-feature & {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .form_field {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .form_field,
  .edy-fe-label {
    font-size: 16px;
    @include color($primary-color, 0.73);

    .dark-background & {
      @include color($white);
    }

    .header-bottom & {
      font-style: normal;
    }
  }

  .form_field {
    label {
      position: relative;
      display: inline;
      padding-left: 2px;
      font-weight: 400;
      line-height: 1.3em;
      cursor: pointer;

      &:after {
        content: '\a';
        white-space: pre;
      }

      &:before {
        display: block;
      }
    }

    .edy-fe-label,
    .form_field_label {
      padding-left: 0;
      font-weight: 600;
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_submit input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    @include inputiosreset;

    &:focus {
      outline: none;
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    width: 200px;
    margin: 0;
    padding: 5px;
    @include bg($primary-color, 0.02);
    @include border(all, 1px, solid, $primary-color, 0.1);
    @include box-sizing(border-box);

    .header-bottom & {
      @include color($primary-color, 0.73);
      @include bg($white);
      @include border(all, 1px, solid, $primary-color, 0.5);
    }
  }

  .form_field_select {
    text-indent: 0.01px;
    text-overflow: '';
    background-position: top 16px right 10px;
    background-repeat: no-repeat;
    cursor: pointer;

    .no-svg & {
      background-image: url('../images/ico-arrow-down.png');
    }

    .svg & {
      background-image: url('../images/ico-arrow-down.png');
    }
  }

  .form_field_checkbox,
  .form_field_radio {
    visibility: hidden;
    margin-bottom: 8px;

    + .form_control_indicator {
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 15px;
      height: 15px;
      @include bg($primary-color, 0.1);
    }
  }

  .form_field_checkbox {
    &:checked {
      + .form_control_indicator:before {
        position: absolute;
        top: -3px;
        left: 3px;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        background-size: cover;

        .no-svg & {
          background-image: url('../images/ico-tick.png');
        }

        .svg & {
          background-image: url('../assets/ico-tick.svg');
        }
      }
    }
  }

  .form_field_radio {
    + .form_control_indicator {
      &, &:before {
        border-radius: 100%;
      }
    }

    &:checked {
      + .form_control_indicator:before {
        position: absolute;
        top: 3px;
        left: 3px;
        display: block;
        width: 9px;
        height: 9px;
        content: '';
        @include bg($primary-color);
      }
    }
  }

  .form_field_size_medium {
    width: 400px;
  }

  .form_field_size_large {
    width: 600px;
  }

  .form_submit {
    @extend %clearfix;
    margin-top: 20px;

    input {
      display: block;
      float: right;
      margin: 0;
      padding: 14px 24px;
      font-size: 18px;
      @include color($white);
      line-height: 1em;
      @include bg($secondary-color);
      border: none;
      cursor: pointer;
      @include inputiosreset;

      &:hover {
        @include bg($secondary-color, 0.8);
      }
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: ' * \a';
    }
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include placeholder {
        @include color($red);
      }

      .placeholder {
        @include color($red);
      }
    }
  }

  .form_field_error {
    margin-top: 5px;
    margin-left: 1px;
    @include color($red);
  }

  .form_error,
  .form_notice, {
    margin: 18px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .form_error {
    @include color($red);
  }

  .form_notice {
    @include color($green);
  }

  @include query($tablet-3 - 76) {
    form,
    .form {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include query($mobile-3) {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select,
    .form_submit input {
      width: 100%;
    }
  }
}
