/* GALLERY */
// Styling rules for the built-in image gallery thumbnails.  These rules affect the entire site's image galleries.
// NB! It is not recommended to set the width and height of the thumbail image (.edys-gallery-image) larger than 100px because the generated thumbnail's original size is 100x100px.
.edys-gallery {
  @extend %clearfix;

  .header-body & {
    display: inline-block;
    margin: 0 auto;
  }
}

.edys-gallery-area,
.edy-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        width: 95.7px;
        height: 95.7px;
      }
    }
  }
}

.edys-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        &:nth-child(7n+7) {
          margin-right: 0;
        }

        @include query($tablet-4 + 32) {
          &:nth-child(7n+7) {
            margin-right: 5px;
          }

          &:nth-child(6n+6) {
            margin-right: 0;
          }
        }

        @include query($mobile-1 - 1) {
          &:nth-child(6n+6) {
            margin-right: 5px;
          }

          &:nth-child(5n+5) {
            margin-right: 0;
          }
        }

        @include query($mobile-2 + 31) {
          &:nth-child(5n+5) {
            margin-right: 5px;
          }

          &:nth-child(4n+4) {
            margin-right: 0;
          }
        }

        @include query($mobile-3 - 43) {
          &:nth-child(4n+4) {
            margin-right: 5px;
          }

          &:nth-child(3n+3) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.edy-gallery-area {
  .edys-gallery-item {
    .content & {
      .content-page & {
        &:nth-child(7n+8) {
          margin-right: 0;
        }

        @include query($tablet-4 + 32) {
          &:nth-child(7n+8) {
            margin-right: 5px;
          }

          &:nth-child(6n+7) {
            margin-right: 0;
          }
        }

        @include query($mobile-1 - 1) {
          &:nth-child(6n+7) {
            margin-right: 5px;
          }

          &:nth-child(5n+6) {
            margin-right: 0;
          }
        }

        @include query($mobile-2 + 31) {
          &:nth-child(5n+6) {
            margin-right: 5px;
          }

          &:nth-child(4n+5) {
            margin-right: 0;
          }
        }

        @include query($mobile-3 - 43) {
          &:nth-child(4n+5) {
            margin-right: 5px;
          }

          &:nth-child(3n+4) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.edys-gallery-item {
  display: block;
  width: auto;
  height: auto;
  @include transition(opacity 0.3s ease-in);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  &.inactive {
    opacity: 0.8;
  }

  &:hover {
    opacity: 1;
  }
}

.narrow-feature {
  .edys-gallery-area,
  .edy-gallery-area {
    .edys-gallery-item {
      position: relative;
      width: 22.6%;
      height: auto;
      margin-right: 3.1%;
      margin-bottom: 3.1%;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .edys-gallery-image {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;

        &.edys-gallery-image-square {
          width: 100%;
        }
      }
    }
  }

  .edys-gallery-area {
    margin-bottom: -14px;

    .edys-gallery-item {
      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }

  .edy-gallery-area {
    .edys-gallery-item {
      &:nth-child(4n+5) {
        margin-right: 0;
      }
    }
  }

  @include query($mobile-1 - 58) {
    .edys-gallery-area {
      margin-bottom: 0;
    }
  }
}
