/* MENUS */
.menu-btn {
  @extend %button;
  display: none;

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px auto 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    &:first-child {
      margin: 0 auto;
    }
  }

  @include query($tablet-2) {
    position: relative;
    top: 4px;
    right: -4px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    width: 30px;
    height: 30px;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }
  }

  @include query($mobile-1) {
    margin-left: 0;
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-item,
.edit-btn {
  display: inline-block;
  vertical-align: middle;
}

.menu-main,
.menu-sub {
  .menu-link {
    &.untranslated {
      @include color($primary-color, 0.33);
    }
  }
}

.menu-main {
  position: relative;
  top: 3px;
  display: inline-block;
  vertical-align: middle;

  .menu-item,
  .edit-btn {
    margin-left: 17px;
  }

  .menu-item {
    &:first-child {
      margin-left: 0;
    }
  }

  .edit-btn {
    position: relative;
    top: -1px;
    margin-right: 5px;

    @include query($tablet-2) {
      display: block;
      padding: 3px 15px 5px;
      @include border(bottom, 1px, solid, $primary-color, 0.1);
    }
  }

  .menu-link {
    padding-bottom: 3px;
    @include color($primary-color, 0.73);

    &.active,
    &.active:hover
    &:hover {
      @include border(bottom, solid, 1px, $secondary-color);
      box-shadow: inset 0 -3px 0 $secondary-color;
    }

    &:hover {
      @include border(bottom, solid, 1px, $secondary-color, 0.8);
      box-shadow: inset 0 -3px 0 rgba($secondary-color, 0.8);
    }
  }

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      z-index: 50;
      top: 60px;
      right: 20px;
      display: block;
      margin-top: 0;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include bg($white);
      box-shadow: 0 5px 25px rgba($primary-color, 0.3);

      .menu-item,
      .menu-link {
        display: block;
      }

      .menu-item {
        margin-left: 0;
        @include border(bottom, 1px, solid, $primary-color, 0.1);
      }

      .menu-link {
        padding: 5px 15px 4px;

        &.active,
        &.active:hover,
        &:hover {
          border: none;
          box-shadow: none;
        }

        &.active,
        &.active:hover {
          @include color($secondary-color);
        }

        &:hover {
          @include color($primary-color, 0.3);
          border-bottom: none;
          box-shadow: none;
        }
      }

      .edit-btn {
        margin: 0;
        top: 0;
      }
    }
  }

  @include query($mobile-3) {
    &.expanded {
      top: 60px;
      left: 0;
      right: 0;
      min-width: 0;
      margin-bottom: 40px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      box-shadow: none;
    }
  }

}

.menu-sub {
  .wrap {
    @extend %wide-wrap;
    padding: 16px 20px 6px;
  }

  .menu {
    text-align: right;

    .multilingual & {
      margin-right: 52px;
    }
  }

  .menu-item,
  .edit-btn {
    margin-bottom: 10px;
  }

  .menu-item {
    @extend %hyphenate;
    margin-right: 12px;
    line-height: 1.3em;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-link {
    font-size: 16px;
    @include color($primary-color, 0.73);

    &.active {
      font-weight: 700;
    }

    &:not(.active):hover {
      @include opacity(0.8);
    }
  }

  @include query($tablet-2) {
    .menu {
      text-align: left;

      .multilingual & {
        margin-right: 0;
      }
    }
  }
}

.menu-lang-btn {
  @extend %button;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  font-size: 0;

  &:before,
  &:after {
    top: 6px;
    left: 5px;
  }

  &:hover {
    @include opacity(0.8);
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
    content: '';
  }

  &:before {
    @include bg($primary-color);
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 26px;
    right: -6px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 123px;
    background: #fff;
    box-shadow: 0 5px 25px rgba($primary-color, 0.3);
    z-index: 20;
  }
}

.menu-lang {
  position: relative;
  margin-left: 17px;
  display: inline-block;
  line-height: 1em;

  .menu-main & {
    display: none;
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;
  }

  .menu-link {
    position: relative;
    display: block;
    padding: 5px 40px 4px 13px;
    line-height: 1em;
    @include color($primary-color, 0.73);

    &:before,
    &:after {
      top: 3px;
      right: 13px;
    }

    &.active,
    &.active:hover,
    &:hover {
      @include opacity(0.5);
    }

    &.active,
    &.active:hover {
      @include filter(grayscale(100%));
    }

    &:hover {
      @include filter(grayscale(50%));
    }
  }

  .edit-btn {
    margin: 5px 20px
  }

  @include query($tablet-2) {
    display: none;
    line-height: 1.3em;

    .menu-main.expanded & {
      top: 0;
      display: block;
      margin-left: 0;
      padding-left: 0;
    }

    .menu-item {
      text-align: left;

      &:first-child {
        border-top: none;
      }
    }

    .menu-link {
      font-weight: 400;
      font-size: 14px;
      @include color($primary-color, 0.73);

      .menu-main.expanded & {
        padding: 12px 15px 13px 44px;
      }

      &:before,
      &:after {
        top: 12px;
        left: 15px;
      }

      &.active,
      &.active:hover {
        @include color($primary-color, 0.8);
        background: none;
      }
    }

    .edit-btn {
      padding: 6px 15px 9px;
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq,   0        0),
// Armenian (Armenia)
(hy,  -21px     0),
// Bengali (Bangladesh)
(bn,  -42px     0),
// Brazilian Portuguese (Brazil)
(pt,  -63px     0),
// Bulgarian (Bulgaria)
(bg,  -84px     0),
// Chinese (China)
(zh, -105px     0),
// Croatian (Croatia)
(hr, -126px     0),
// Danish (Denmark)
(da, -147px     0),
// Czech (Czech Republic)
(cs, -168px     0),
// Estonian (Estonia)
(et, -189px     0),

// Finnish (Finland)
(fi,    0px -15px),
// French (France)
(fr,  -21px -15px),
// Georgian (Georgia)
(ka,  -42px -15px),
// German (Germany)
(de,  -63px -15px),
// Greek (Greece)
(el,  -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he,    0px -30px),
// Italian (Italy)
(it,  -21px -30px),
// Japanese (Japan)
(ja,  -42px -30px),
// Korean (Korea, South)
(ko,  -63px -30px),
// Latvian (Latvia)
(lv,  -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil,   0px -45px),
// Polish (Poland)
(pl,  -21px -45px),
// Romanian (Romania)
(ro,  -42px -45px),
// Russian (Russia)
(ru,  -63px -45px),
// Arabic (Saudi Arabia)
(ar,  -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk,    0px -60px),
// American English (United States of America)
(en,  -21px -60px)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after { background-position: $pos; }
}

// Styling rules for the blog listing view pagination.
.menu-pagination-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.menu-pagination {
  max-width: 600px;
  margin: 0 auto 43px;
  text-align: center;
  @include border(all, 1px, solid, $primary-color, 0.1);

  .wrap {
    padding: 0;
    position: relative;
  }

  .menu {
    @extend %clearfix;
    margin: 0 115px;
  }

  .menu-item {
    &.pagination-previous,
    &.pagination-next {
      position: absolute;
      top: 0;

      .menu-link {
        min-width: 77px;
        padding: 10px 19px 8px;
      }
    }

    &.pagination-previous {
      left: 0;
      @include border(right, 1px, solid, $primary-color, 0.1);
    }

    &.pagination-next {
      right: 0;
      @include border(left, 1px, solid, $primary-color, 0.1);
    }

    &.hidden {
      display: none;
    }

    &.disabled {
      @include opacity(0.5);

      .menu-link {
        &:hover {
          @include color($primary-color, 0.73);
          cursor: default;
        }
      }
    }

    &.active {
      .menu-link {
        @include color($secondary-color);
      }
    }

    &,
    .menu-link {
      @extend %inline-block;
    }

    .menu-link {
      padding: 10px 2.5px 8px;
      @include color($primary-color, 0.73);

      &:hover {
        @include color($secondary-color);
      }
    }
  }

  @include query($mobile-2) {
    .menu-item {
      font-size: 16px;

      &.pagination-previous,
      &.pagination-next {
        .menu-link {
          padding: 8px 8px 6px;
        }
      }

      .menu-link {
        padding: 8px 2.5px 6px;
      }
    }
  }
}
