// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: #000000;
$secondary-color: #E4AC00;
$third-color: #1B2124;

// Specific colors
$white: #FFFFFF;

$red: #CC0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;
$yellow: #F9EC5A;

$grey: #E5E5E5;

// Media queries
$tablet-1: 1040px;
$tablet-2: 900px;
$tablet-3: 816px;
$tablet-4: 707px;
$tablet-5: 660px;

$mobile-1: 640px;
$mobile-2: 507px;
$mobile-3: 480px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
$search-height-1: 30px;
$search-height-2: 40px;
