// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode.
@import 'bourbon/bourbon';
@import '_mixins';
@import '_variables';

// Editable content area.
.edy-ca {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

// Draggable placeholder for content area blocks.
.edy-empty-bordered {
  .dark-background & {
    @include color($white, 0.5);
    @include border(all, 1px, dashed, $white, 0.5);
  }

  .header-body & {
    padding: 100px 40px;
  }

  .main-feature & {
    padding: 101px 40px;
  }

  .quotation & {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50px;
    right: 20px;

    .edy-empty-header {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate3D(-50%, -50%, 0));
    }

    @include query($mobile-1 - 58) {
      position: static;
    }
  }

  .map & {
    padding: 125px 40px;
  }
}

// Editable content area placeholders.
.placeholder {
  .dark-background & {
    @include color($white, 0.5);
  }
}

%editor-border {
  .dark-background & {
    @include border(all, 1px, solid, $white, 0.5);
  }

  .light-background & {
    @include border(all, 1px, solid, $primary-color, 0.3);
  }
}

// Text editor
.content-formatted {
  .edy-content-element-hover {
    @extend %editor-border;
  }

  &.header-body {
    .edy-texteditor-view {
      min-height: 51px;
    }
  }

  .edy-texteditor-view {
    min-height: 25px;

    .map & {
      min-height: 272px;
    }
  }

  .edy-texteditor-active {
    .dark-background & {
      outline: 1px solid rgba($white, 0.8);
    }

    .light-background & {
      outline: 1px solid rgba($primary-color, 0.5);
    }
  }

  .edy-texteditor-active table td,
  .edy-texteditor-active table th {
    .dark-background & {
      outline: 1px dotted rgba($white, 0.5);
    }
  }

  .edy-texteditor-active table td.wysiwyg-tmp-selected-cell,
  .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
    .dark-background & {
      outline: 1px solid rgba($white, 0.8);
    }
  }
}

// Gallery editor
.edy-gallery-area {
  .edy-gallery-thumb {
    .header-body & {
      float: none;
    }
  }
}

// Image drop area
.edy-img-drop-area {
  font-family: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;

  .edy-img-drop-area-placeholder {
    display: table-cell;
    vertical-align: middle;
    @include color($primary-color, 0.53);

    .editmode & {
      margin: 0;
      padding: 10px;
      font-size: 18px;
    }
  }
}


// Embedded content wrapper
.embed-container {
}
