@import '_mixins';

$main-color: #222222;
$secondary-color: #000000;

$link-color: #0066bb;
$third-color: #848484;
$bg-color: #e5e5e5;
$error-color: #c70909;
$success-color: #409e13;
$black: #000000;

$font-size: 18px;
$font-size-big: 22px;
$font-main: 'Lato', Helvetica, Arial, 'sans-serif';
$font-secondary: 'Montserrat', Helvetica, Arial, 'sans-serif';

$site-width: 1024px;
$side-width: 280px;
$side-width-small: 200px;
$content-width: $site-width - $side-width;

$search-width: 300px;

$break-small: 600px;
$break-middle: 1024px;
$break-large: 1500px;


%nulling {
  margin: 0;
  padding: 0;
}

%button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

html,
body {
  @extend %nulling;
  height: 100% !important;
  font: #{$font-size}/1.67 $font-main;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big;
  }
}

body {
  position: relative;
  min-width: $site-width;
  text-align: left;
  color: $main-color;
  background: white;

  @include box-sizing(border-box);
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    @include color($link-color, .85);
  }
}

.cfx {
  zoom: 1;
  min-height: 1px;

  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '.';
  }
}

img {
  border: none;
}

form {
  @extend %nulling;
}

h1,
h2,
h3 {
  @extend %nulling;
  font: normal 36px/1.1 $font-secondary;
  color: $main-color;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 30px 0 20px;
  font-size: 24px;
}

h3 {
  margin: 30px 0 20px;
  font-family: $font-main;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 20px 0;
  padding: 0;
}

ul,
ol {
  @extend %nulling;
  list-style-type: none;

  li {
    @extend %nulling;
  }
}

input[type=submit],
input[type=text],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

// Disables hyphenation for the elements that shouldn't hyphenate.
pre,
code,
iframe,
table,
form {
  @include hyphenate(false);
}

pre,
code {
  font-size: 14px;
  @include bg(white, .3);

  .light-background & {
    @include bg($secondary-color, .2);
  }
}

pre {
  overflow: auto;
  padding: 10px;

  code {
    display: inline;
    padding: 0;
    line-height: inherit;
    white-space: pre;
    background-color: transparent;
    @include word-wrap(normal);
  }
}

code {
  display: inline-block;
  padding: 5px;

  @include word-wrap(break-word);
}

blockquote {
  margin: 20px 40px;

  .front-page & {
    text-align: left;
  }
}


.font-size-small {
  font: #{$font-size}/1.67 $font-main !important;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big !important;
  }
}

.bgpicker-btn {
  @extend %button;
}

/* select */
.jq-select {
  position: relative;
  font: #{$font-size}/1.67 $font-main;
  cursor: pointer;
  color: $main-color;
  background: white;

  select {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: #{$font-size}/1.67 $font-main;
    cursor: pointer;
    opacity: 0;
    color: $main-color;
    border: none;
    -webkit-appearance: none;
    filter: alpha(opacity=0);
    -moz-opacity: .0;
  }
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-left: 3px solid $bg-color;
  background: white;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -6px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 6px;
    border-top-color: $main-color;
  }
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding: 4px 38px 4px 5px;
  padding-right: 48px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 5px;
  font: #{$font-size}/1.67 $font-main;
  color: $main-color;
  border: none;
  outline: none;
  background: white;
  @include border-radius(0);
  @include box-sizing(border-box);
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: $error-color;
}

.form_notice {
  color: $success-color;
}

.form_field_error {
  display: none;
  color: $error-color;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  @include bg($error-color, .2);
}

.form_submit input,
.submit {
  height: 45px;
  font: #{$font-size}/1.67 $font-main;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #2b2b2b;
  -webkit-appearance: none;
  @include border-radius(0);
  @include color(white, .5);

  &:hover {
    @include bg(#2b2b2b, .8);
  }
}

.form_field_required {
  .form_field_label:after {
    content: '*';
  }
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;

  &:before {
    display: none;
    content: url('../images/check.png?1');
  }

  .form_field_checkbox,
  .form_field_radio {
    display: none;
    display: inline-block\9;
  }

  .form_field_checkbox {
    + .form_control_indicator:before {
      background: white;
    }

    &:checked {
      + .form_control_indicator:before {
        width: 100%;
        height: 100%;
        background: url('../images/check_small.png?1') no-repeat left bottom;
        .backgroundsize & {
          width: 100%;
          height: 100%;
          background: url('../images/check.png?1') no-repeat left bottom;
          background-size: 17px 18px;
        }
      }
    }
  }

  .form_field_radio {
    + .form_control_indicator:before {
      width: 9px;
      height: 9px;
      border: 3px solid white;
    }

    &:checked {
      + .form_control_indicator:before {
        background-color: $main-color;
      }
    }
  }

  .form_control_indicator {
    position: relative;
    display: inline-block;
    display: none\9;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    vertical-align: 0;
  }

  .form_control_indicator:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
  }
}

/* layout */
.wrap {
  height: 100%;
  min-height: 100%;
}

.topbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 90px;
  background: white;
}

.sidebar {
  float: left;
  width: $side-width;
  min-height: 100%;

  @media screen and (min-width: $break-large) {
    width: 20%;
  }

  .sidebar-inner {
    padding: 55px 30px 180px 30px;

    .search-enabled & {
      padding-bottom: 230px;
    }
  }
}

.main {
  position: relative;
  margin-left: $side-width;
  background: $bg-color;

  .editmode & {
    margin-bottom: 40px;
  }

  .editmode.edy-bar-open & {
    margin-bottom: 150px;
  }

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }
}
.main-inner {
  position: relative;

  .front-page & {
    font-family: $font-secondary;
    font-size: 36px;
    line-height: 1.05;
    text-align: center;

    h1 {
      font-size: 36px * 1.5;
    }

    h2 {
      font-size: 36px * 1.25;
    }

    h3 {
      font-size: 36px * 1.1;
    }

    .dark-background {
      h1,
      h2,
      h3 {
        color: white;
      }

      .placeholder {
        color: rgba(255,255,255,.5);
      }
    }
  }
}

.inner {
  width: $content-width;

  &.main-inner {
    width: auto !important;
  }

  @media screen and (min-width: $break-large) {
    width: 75%;
  }
}

.container-wrap {
  position: relative;
  z-index: 4;
}

.container {
  float: left;
  width: 100%;
}

.site-title {
  overflow: hidden;
  padding-top: 25px;
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 1.05;
  vertical-align: top;
  text-transform: uppercase;
  color: $main-color;

  a {
    color: $main-color;
  }

  .topbar & {
    height: 40px;
    margin-right: 80px;
    padding: 27px 0 0 30px;
    white-space: nowrap;
  }
}

/* mainmenu */
.main-menu {
  padding-top: 50px;

  li {
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.05;
    text-transform: uppercase;
  }

  a {
    color: $third-color;

    &:hover,
    &.active {
      color: $secondary-color;
    }
  }
}

/* submenu */
.sub-menu {
  min-height: 35px;
  padding: 30px 30px 15px 30px;
  font: 14px/1.1 $font-secondary;
  text-align: right;
  word-wrap: break-word;

  li {
    display: inline-block;
    padding-left: 20px;

    &.edy-btn {
      vertical-align: middle;
    }
  }

  a {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 11px;
    white-space: nowrap;
    color: $third-color;

    &:hover {
      color: $main-color;
    }

    &.active {
      margin-bottom: 4px;
      padding-bottom: 4px;
      color: $main-color;
      border-bottom: 3px solid $main-color;
    }

    &.edy-cbtn {
      padding: 0;
    }
  }
}

/* flags */
.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 13px;
    content: '';
  }
}

.lang-flag:before {
  @include bg($black);
}

.lang-flag:after {
  opacity: .95;
  background-image: url('../images/ico-flags-small.png?1');
  background-repeat: no-repeat;
  background-size: 200px;

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }

  .backgroundsize.svg & {
    background-image: url('../assets/ico-flags.svg?1');
  }
}

// Language flag icons positioning in the spritemap.
  $flags:
  // Albanian (Albania)
  (sq,   0        0),
  // Armenian (Armenia)
  (hy,  -20px     0),
  // Bengali (Bangladesh)
  (bn,  -40px     0),
  // Brazilian Portuguese (Brazil)
  (pt,  -60px     0),
  // Bulgarian (Bulgaria)
  (bg,  -80px     0),
  // Chinese (China)
  (zh, -100px     0),
  // Croatian (Croatia)
  (hr, -120px     0),
  // Danish (Denmark)
  (da, -140px     0),
  // Czech (Czech Republic)
  (cs, -160px     0),
  // Estonian (Estonia)
  (et, -180px     0),

  // Finnish (Finland)
  (fi,    0px -14px),
  // French (France)
  (fr,  -20px -14px),
  // Georgian (Georgia)
  (ka,  -40px -14px),
  // German (Germany)
  (de,  -60px -14px),
  // Greek (Greece)
  (el,  -80px -14px),
  // Hungarian (Hungary)
  (hu, -100px -14px),
  // Icelandic (Iceland)
  (is, -120px -14px),
  // Hindi (India)
  (hi, -140px -14px),
  // Indonesian (Indonesia)
  (id, -160px -14px),
  // Iranian (Iran)
  (fa, -180px -14px),

  // Hebrew (Israel)
  (he,    0px -28px),
  // Italian (Italy)
  (it,  -20px -28px),
  // Japanese (Japan)
  (ja,  -40px -28px),
  // Korean (Korea, South)
  (ko,  -60px -28px),
  // Latvian (Latvia)
  (lv,  -80px -28px),
  // Lithuanian (Lithuania)
  (lt, -100px -28px),
  // Malaysian (Malaysia)
  (ms, -120px -28px),
  // Dutch (Netherlands)
  (nl, -140px -28px),
  // Norwegian (Norway)
  (no, -160px -28px),
  // Urdu (Pakistan)
  (ur, -180px -28px),

  // Filipino (Philippines)
  (fil,   0px -42px),
  // Polish (Poland)
  (pl,  -20px -42px),
  // Romanian (Romania)
  (ro,  -40px -42px),
  // Russian (Russia)
  (ru,  -60px -42px),
  // Arabic (Saudi Arabia)
  (ar,  -80px -42px),
  // Slovakian (Slovakia)
  (sk, -100px -42px),
  // Slovenian (Slovenia)
  (sl, -120px -42px),
  // Spanish (Spain)
  (es, -140px -42px),
  // Swedish (Sweden)
  (sv, -160px -42px),
  // Turkish (Turkey)
  (tr, -180px -42px),

  // Ukrainian (Ukraine)
  (uk,    0px -56px),
  // American English (United States of Ameria)
  (en,  -20px -56px)
  ;


@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

/* langmenu */
.lang-menu {
  position: absolute;
  z-index: 200;
  top: 38px;
  left: 30px;
  height: 13px;

  li {
    display: block;
    font-size: 12px;
    text-align: left;

    &.add-lang-btn {
      padding: 5px 0 5px 10px;
    }
  }

  a {
    &.lang-flag {
      position: relative;
      display: block;
      padding: 5px 13px 5px 40px;
      @include color(#1b2124, .7);

      &:before,
      &:after {
        top: 5px;
        left: 12px;
      }

      &.active,
      &:hover {
        background-color: #cccccc;
      }

      &:hover {
        @include bg(#cccccc, .5);
      }
    }

    &.edy-menu-langadd {
      display: inline-block;
      padding: 5px;
    }
  }
}

.lang-menu-btn {
  @extend %nulling;
  position: relative;
  display: block;
  width: 20px;
  height: 13px;
  font-size: 0;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -12px;
  display: none;
  min-width: 121px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  background: #ffffff;
  @include box-shadow(0,0,5px,rgba(0,0,0,.3));

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }
}

/* content */
.content {
  position: relative;
  padding: 0 30px 30px;
  @include hyphenate(true);

  .front-page & {
    padding: 70px 30px;
  }
}

.formatted {
  ul,
  ol {
    margin: 15px 0;
    padding-left: 35px;
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    padding-left: 3px;
  }
}

/* articles */
.blog-content h1 {
  margin: 0;
  padding: 0;
}

.blog-list {
  .post-wrap {
    border-top: 2px solid white;
  }

  .post {
    padding: 30px 30px;
  }

  .post-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.1;
    word-wrap: break-word;

    a {
      color: $secondary-color;
    }

    a:hover {
      @include color($secondary-color, .75);
    }
  }
}

.post-header {
  padding: 0 30px 0;
}

.post-date {
  display: inline;
  color: $third-color;
}

.post-content {
  padding: 0 30px 60px;
  word-wrap: break-word;
}

.post-body {
  padding: 20px 0 0;
}
.post-tags {
  padding: 20px 0 0;
}

.tbl {
  display: table;
  visibility: hidden;
  width: 100%;
  border-collapse: collapse;

  .tbl-row {
    display: table-row;
  }

  .tbl-cell {
    display: table-cell;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
}

/* comments */
.comments {
  position: relative;
  padding: 0 30px 30px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 250px;
    height: 2px;
    content: '';
    background: white;
  }

  h3 {
    margin: 0;
    padding: 45px 0 20px;
  }
}

.comment-form {
  position: relative;
  min-height: 30px;
  padding-bottom: 10px;

  .comment-form-focus-input {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }

  .form_area {
    display: none;
  }

  .form_field {
    padding-bottom: 10px;
  }

  .comment-name-field,
  .comment-email-field {
    float: left;
    width: 250px;

    input {
      width: 100% !important;
      border-bottom: 1px solid #cecece;
      background: none;
    }
  }

  .comment-name-field {
    margin-right: 20px;
  }

  .submit-holder {
    padding-top: 20px;
  }

  .form_field_with_errors .form_field_textfield {
    border-bottom: 1px solid $error-color;
    border-bottom: 1px solid rgba($error-color, .3);
    @include color($error-color, .8);
  }

  &.form_with_errors {
    .comment-form-focus-input {
      display: none;
    }

    .form_area {
      display: block;
    }
  }
}

.comment {
  padding-top: 20px;
  word-wrap: break-word;

  .comment-info {
    font-size: 14px;
    color: $third-color;

    .edy-site-btn-removecomment {
      vertical-align: -1px;
    }
  }
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 10px;
    border: 1px solid $third-color;
    border-color: rgba($third-color, .9);
  }

  th {
    font-weight: bold;
  }
}

/* mobile-menu */
.mobile-menu-toggler,
#mobile-menu,
.mobile-menu-toggler,
#mobile-search {
  display: none;
}

/* footer */
.footer {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: $side-width;
  font-size: 11px;
  line-height: 1.6;
  @include box-sizing(border-box);

  .footer-inner {
    padding: 20px 30px;
  }

  @media screen and (min-width: $break-large) {
    width: 25%;
  }
}

.voog-reference {
  display: none;
  padding-top: 10px;

  a {
    color: #acacac;
  }

  .front-page & {
    display: block;
  }
}

/* other */
.edy-gallery-area,
.edys-gallery-area {
  padding: 20px 0;
}

.edys-gallery-item {
  @include border-radius(96px);
}

.js-bgpicker-cover-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  // background-image: url('../images/front.jpg?1');
}

.js-bgpicker-cover-color {
  position: relative;
  z-index: 1;
  color: white;
  background: rgba(0,0,0,.2);

  .edy-empty-bordered {
    border-color: white;
    border-color: rgba(255,255,255,.35);
  }

  .edy-content-element-hover {
    border-color: white;
    border-color: rgba(255,255,255,.1);
  }

  .edy-empty-bordered {
    .edy-empty-header {
      color: white;
      color: rgba(255,255,255,.5);
    }
  }

  .edy-texteditor-active {
    outline: 1px solid rgba(255, 255, 255, .2);
  }

  .edy-texteditor-active:hover {
    outline: 1px solid rgba(255, 255, 255, .3);
  }

  &.light-background {
    color: $main-color;

    .edy-empty-bordered {
      border-color: white;
      border-color: rgba(0,0,0,.35);
    }

    .edy-content-element-hover {
      border-color: white;
      border-color: rgba(0,0,0,.1);
    }

    .edy-empty-bordered {
      .edy-empty-header {
        color: white;
        color: rgba(0,0,0,.5);
      }
    }

    .edy-texteditor-active {
      outline: 1px solid rgba(0, 0, 0, .2);
    }

    .edy-texteditor-active:hover {
      outline: 1px solid rgba(0, 0, 0, .3);
    }
  }
}

.rgba .js-bgpicker-cover-color {
  display: block;
}

.js-bgpicker-cover-settings {
  left: 0;
}

.untranslated {
  zoom: 1;
  opacity: .5;

  filter: alpha(Opacity=50);
}

.edy-positionable-container-left {
  margin: 0 2em 1em 0;
}

.edy-positionable-container-right {
  margin: 0 0 1em 2em;
}

/* search */
.search {
  position: relative;
  padding-bottom: 20px;

  .search-box {
    position: relative;
    overflow: hidden;
    padding: 0 40px 0 10px;
    background: $bg-color;

    &.search-box-focus {
      background-color: #f9ec5a;
    }

    #mobile-search & {
      padding-right: 50px;
      padding-left: 20px;
    }
  }

  .search-input {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font: #{$font-size}/1.67 $font-main;
    color: $main-color;
    border: none;
    outline: 0;
    background: none;
    
    &::-ms-clear {
        display: none;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.3);
    }

    &:-moz-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.3);
    }

    &::-moz-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.3);
    }

    &:-ms-input-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.3);
    }

    #mobile-search & {
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .search-close {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: url('../images/search-close.png') no-repeat center center;

    .voog-search-visible & {
      display: block;
    }
  }

  &:after {
    position: absolute;
    top: -2px;
    right: -30px;
    display: none;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 18px;
    border-color: rgba(229, 229, 229, 0);
    border-right-color: $bg-color;

    @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle) {
      right: -20px;
    }

    .voog-search-visible & {
      display: block;
    }

    #mobile-search & {
      display: none;
    }
  }

  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .5;
    border: none;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    -khtml-opacity: .5;
    -moz-opacity: .5;

    .svg & {
      background-image: url('../assets/search.svg');
    }
  }
}

/* search-container */
.voog-search-container {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  margin-left: $side-width;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;
  opacity: 0;
  background: $bg-color;

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }

  @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle) {
    top: 90px;
    margin-left: $side-width-small;
  }

  #mobile-search & {
    position: static;
    top: auto;
    width: 100%;
    margin-left: 0 !important;

    .voog-mobile-search-visible & {
      z-index: 1000;
      display: block;
      opacity: 1;
    }
  }

  .voog-search-visible & {
    z-index: 1000;
    display: block;
    width: $search-width;
    opacity: 1;
    @include box-shadow(10px, 0px, 10px, rgba(0,0,0,.05));
  }
}

.voog-search-inner {
  overflow: auto;
  width: $search-width;
  height: 100%;

  #mobile-search & {
    width: auto;
  }
}

.voog-search-loader {
  display: block;
  height: 100%;

  .svg & {
    background: url('../assets/loader.svg') no-repeat center center;
  }
}

.voog-search-results {
  display: none;
  padding: 20px 0;

  #mobile-search & {
    padding: 10px 0;
  }
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;
  height: 100%;

  div {
    display: table-cell;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    color: $third-color;
  }

  &.voog-search-noresults-visible {
    display: table;
  }
}

.voog-search-result {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.5;

  .voog-search-result-title {
    margin: 0;
    padding: 0 0 12px;
    font-size: 16px;
  }

  .voog-search-result-link {
    color: $main-color;

    &:hover {
      @include color($main-color, .8);
    }
  }

  .voog-search-result-content {
    margin: 0;
    padding: 0;
  }

  em {
    font-style: normal;
    background: #f9ec5a;
  }
}

@media screen and (max-width: $break-middle) {
  .site-title {
    br {
      display: none;
    }
  }
}

@media screen and (min-width: $break-small + 1px) and (max-width: $break-middle) {
  body {
    min-width: 0;
  }

  .topbar {
    display: block;

    .site-title {
      padding-left: 20px;
    }
  }

  .main {
    margin-left: $side-width-small;
    padding-top: 90px;
  }

  .sidebar {
    width: $side-width-small;

    .sidebar-inner {
      padding-top: 90px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .site-title {
      display: none;
    }
  }

  .sub-menu {
    a {
      white-space: normal;
    }
  }

  .main-menu {
    padding-top: 20px;
  }

  .inner {
    width: auto;
  }

  .lang-menu {
    right: 25px;
    left: auto;
  }

  .lang-menu-popover {
    right: -12px;
    left: auto;
  }

  .footer {
    width: $side-width-small;
    .footer-inner {
      padding: 20px;
    }
  }
}

@media screen and (max-width: $break-small) {
  body,
  html {
    font-size: 16px;
    line-height: 1.75;
  }

  .font-size-small {
    font-size: 16px !important;
    line-height: 1.75 !important;
  }

  body {
    min-width: 320px;
    background: white;
  }

  .wrap,
  .wrap-inner,
  .main {
    display: block !important;
    height: auto !important;
  }

  .front-page {
    &,
    .wrap,
    .main {
      height: 100% !important;
    }
  }

  .search-form,
  body > .voog-search-container {
    display: none !important;
  }

  .sidebar {
    display: block;
    float: none;
    width: auto;
    max-width: none;
    min-height: 43px;
    padding: 0;
    word-wrap: break-word;

    .sidebar-inner {
      padding: 0 !important;
    }
  }

  .lang-menu,
  .main-menu {
    display: none;
  }

  .main {
    width: auto;
    margin: 0;
  }

  .main-inner {
    .front-page & {
      font-size: 22px;
      line-height: 1.05;
      color: white;

      h1 {
        font-size: 22px * 1.5;
      }

      h2 {
        font-size: 22px * 1.25;
      }

      h3 {
        font-size: 22px * 1.1;
      }
    }
  }

  .inner {
    width: auto;
  }

  .container {
    background: $bg-color;

    .front-page & {
      background: none;
    }
  }

  .site-title {
    padding: 13px 50px 12px 20px;
    font-size: 18px;

    .search-enabled & {
      padding-right: 90px;
    }
  }

  .content {
    padding: 0 20px 20px;

    .front-page & {
      padding: 40px 20px;
    }
  }

  .sub-menu {
    min-height: 0;
    padding: 20px 20px 15px;
    text-align: left;

    li {
      padding-right: 20px;
      padding-left: 0;
    }

    a {
      white-space: normal;
    }
  }

  .js-bgpicker-cover-image,
  .js-bgpicker-cover-color {
    min-height: 0 !important;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field .jq-select {
    width: 100% !important;
  }

  .blog-list .post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-header {
    padding: 0 20px;
  }

  .post-content {
    padding: 0 20px 30px;
  }

  .comments {
    padding: 0 20px 20px;

    h3 {
      padding-top: 30px;
    }

    &:before {
      width: 100%;
    }
  }

  .comment-form {
    .comment-name-field,
    .comment-email-field {
      float: none;
      width: 100%;
    }

    .comment-name-field {
      margin-right: 0;
    }
  }

  .footer {
    position: static;
    bottom: auto;
    left: auto;
    display: block;
    width: auto;
    background: white;
    .footer-inner {
      padding: 20px;
    }
  }

  /* mobile-menu */
  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;

    .wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .mobile-menu-toggler {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 43px;
    height: 43px;
    outline: 0;

    span {
      &,
      &:before,
      &:after {
        position: absolute;
        top: 14px;
        left: 11px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: $main-color;
        @include border-radius(5px);
      }

      &:before {
        top: 6px;
        left: 0;
      }

      &:after {
        top: 12px;
        left: 0;
      }
    }
  }

  #mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;@include bg(#2b2b2b, .9);
    -webkit-overflow-scrolling: touch;

    .mobilemenu-open & {
      display: block;
    }

    .mobile-menu-close {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      &:before,
      &:after {
        position: absolute;
        top: 19px;
        left: 12px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: white; @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }

    .language-menu-btn {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      span {
        position: absolute;
        top: 14px;
        left: 11px;
      }

      .language-menu-open & {
        display: none;
      }
    }

    .navigation-menu,
    .language-menu {
      display: table;
      width: 100%;
      height: 100%;

      ul {
        display: table-cell;
        height: 100%;
        padding: 50px 30px;
        list-style-type: none;
        text-align: center;
        vertical-align: middle;

        li {
          display: block;
          margin: 0;
          padding: 15px 0;
          text-align: center;
        }

        a {
          font-size: 24px;
          line-height: 1.05; @include color(white, .5);

          &.active {
            color: white;
          }
        }
      }
    }

    .navigation-menu {
      .language-menu-open & {
        display: none;
      }
    }

    .language-menu {
      display: none;

      .language-menu-open & {
        display: table;
      }
    }
  }

  .mobile-search-toggler {
    position: absolute;
    top: 0;
    right: 43px;
    display: block;
    width: 33px;
    height: 43px;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    .svg & {
      background-image: url('../assets/search.svg');
    }

    .mobilesearch-open & {
      background: none !important;

      &:before,
      &:after {
        position: absolute;
        top: 20px;
        left: 7px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: $main-color; @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }
  }

  #mobile-search {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    background: $bg-color;
    -webkit-overflow-scrolling: touch;

    .mobilesearch-open & {
      display: block;
    }
  }

  #mobile-search-results {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
