@import '_mixins';

$main-color: #222222;
$secondary-color: #000000;

$link-color: #0066bb;
$third-color: #848484;
$bg-color: #e5e5e5;
$error-color: #c70909;
$success-color: #409e13;
$black: #000000;

$font-size: 18px;
$font-size-big: 22px;
$font-main: 'Lato', Helvetica, Arial, 'sans-serif';
$font-secondary: 'Montserrat', Helvetica, Arial, 'sans-serif';

$site-width: 1024px;
$side-width: 280px;
$side-width-small: 200px;
$content-width: $site-width - $side-width;

$search-width: 300px;

$break-small: 600px;
$break-middle: 1024px;
$break-large: 1500px;


%nulling {
  margin: 0;
  padding: 0;
}

%button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

html,
body {
  @extend %nulling;
  height: 100% !important;
  font: #{$font-size}/1.67 $font-main;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big;
  }
}

body {
  position: relative;
  min-width: $site-width;
  text-align: left;
  color: $main-color;
  background: white;

  @include box-sizing(border-box);
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    @include color($link-color, .85);
  }
}