.edy-ca {
  margin-top: 20px;
}
.edy-ca:first-child {
  margin-top: 0;
}

.dark-background .edy-empty-bordered {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  border: 1px dashed #FFFFFF;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.header-body .edy-empty-bordered {
  padding: 100px 40px;
}
.main-feature .edy-empty-bordered {
  padding: 101px 40px;
}
.quotation .edy-empty-bordered {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 50px;
  right: 20px;
}
.quotation .edy-empty-bordered .edy-empty-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
  -o-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
}
@media screen and (max-width: 582px) {
  .quotation .edy-empty-bordered {
    position: static;
  }
}
.map .edy-empty-bordered {
  padding: 125px 40px;
}

.dark-background .placeholder {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}

.dark-background .content-formatted .edy-content-element-hover, .content-formatted .dark-background .edy-content-element-hover {
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.light-background .content-formatted .edy-content-element-hover, .content-formatted .light-background .edy-content-element-hover {
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.content-formatted.header-body .edy-texteditor-view {
  min-height: 51px;
}
.content-formatted .edy-texteditor-view {
  min-height: 25px;
}
.map .content-formatted .edy-texteditor-view {
  min-height: 272px;
}
.dark-background .content-formatted .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}
.light-background .content-formatted .edy-texteditor-active {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
.dark-background .content-formatted .edy-texteditor-active table td, .dark-background
.content-formatted .edy-texteditor-active table th {
  outline: 1px dotted rgba(255, 255, 255, 0.5);
}
.dark-background .content-formatted .edy-texteditor-active table td.wysiwyg-tmp-selected-cell, .dark-background
.content-formatted .edy-texteditor-active table th.wysiwyg-tmp-selected-cell {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}

.header-body .edy-gallery-area .edy-gallery-thumb {
  float: none;
}

.edy-img-drop-area {
  font-family: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.edy-img-drop-area .edy-img-drop-area-placeholder {
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
}
.editmode .edy-img-drop-area .edy-img-drop-area-placeholder {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}
