.menu-lang-btn:before, .menu-lang-btn:after {
  margin-top: -6px;
  margin-left: -1px;
}

.no-svg .menu-lang-btn:after, .no-svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../images/ico-flags-small.png");
}

.menu-lang-popover.expanded {
  border: 1px solid black;
}

/* FRONT PAGE */
.front-page .content .background-color {
  -ms-filter: "alpha(opacity=50)";
}

.post .post-right {
  display: inline-block;
  vertical-align: top;
  width: 722px;
}

.search {
  border: 1px solid #e5e5e5;
}
.search .search-left {
  line-height: 1.5;
}

.content-formatted .form_field_checkbox,
.content-formatted .form_field_radio {
  position: relative;
  visibility: visible;
  padding-left: 0;
  top: 2px;
}
.content-formatted .form_field_checkbox + .form_control_indicator,
.content-formatted .form_field_radio + .form_control_indicator {
  display: none;
}

.footer .voog-reference a {
  border: 1px solid #e5e5e5;
}
