/* nulling */
ul,
ol, ul li,
ol li, h1, h2, h3, html,
body, .lang-menu-btn {
  margin: 0;
  padding: 0;
}

.svg .no-svg,
.nosvg svg,
.mobile-dialog-close,
.lang-menu-btn-holder,
.lang-menu-holder {
  display: none;
}

/* button */
.search .search-submit, .lang-menu-btn, .lang-options .option-btn, .voog-bg-picker-btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}
.search .search-submit:focus, .lang-menu-btn:focus, .lang-options .option-btn:focus, .voog-bg-picker-btn:focus {
  outline: none;
}
.search .search-submit::-moz-focus-inner, .lang-menu-btn::-moz-focus-inner, .lang-options .option-btn::-moz-focus-inner, .voog-bg-picker-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

/* cfx */
.cfx:after {
  content: "";
  display: table;
  clear: both;
}

/* list */
ul,
ol {
  list-style-type: none;
}

/* inputs */
input[type=submit],
input[type=text],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

/* paragraphs */
h1, h2, h3 {
  font: bold 40px/1.1 "Montserrat", Helvetica, Arial, "sans-serif";
  color: black;
}

h1 {
  text-align: center;
  margin-bottom: 48px;
}

h2 {
  margin: 40px 0 20px;
  font-size: 24px;
}

h3 {
  margin: 40px 0 20px;
  font-family: "Montserrat", Helvetica, Arial, "sans-serif";
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 20px 0;
  padding: 0;
}

pre,
code,
iframe,
table,
form {
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre,
code {
  font-size: 14px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

pre {
  overflow: auto;
  padding: 10px;
  margin: 0 20px;
}
pre code {
  display: inline-block;
  padding: 0;
  line-height: inherit;
  white-space: pre;
  background-color: transparent;
  word-wrap: normal;
}

code {
  display: inline-block;
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

blockquote {
  margin: 20px 40px;
  color: #818181;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

/* select */
.jq-select {
  position: relative;
  font: 18px/1.45 "Montserrat", Helvetica, Arial, "sans-serif";
  cursor: pointer;
  color: #333333;
  background: white;
}
.jq-select select {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 18px/1.45 "Montserrat", Helvetica, Arial, "sans-serif";
  cursor: pointer;
  opacity: 0;
  color: #333333;
  border: none;
  -webkit-appearance: none;
  filter: alpha(opacity=0);
  -moz-opacity: .0;
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-left: 3px solid #f4f4f4;
  background: white;
}
.jq-select-arrow:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: -6px;
  content: '';
  pointer-events: none;
  border: solid transparent;
  border-width: 6px;
  border-top-color: #333333;
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding: 4px 38px 4px 5px;
  padding-right: 48px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 10px;
  font: 18px/1.45 "Montserrat", Helvetica, Arial, "sans-serif";
  color: #333333;
  border: none;
  outline: none;
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: #c70909;
}

.form_notice {
  color: #409e13;
}

.form_field_error {
  display: none;
  color: #c70909;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  color: #c70909;
  color: rgba(199, 9, 9, 0.8);
  background-color: #c70909;
  background-color: rgba(199, 9, 9, 0.2);
}

.form_submit input,
.submit {
  height: 45px;
  font: 18px/1.45 "Montserrat", Helvetica, Arial, "sans-serif";
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #2b2b2b;
  color: white;
}
.form_submit input:hover,
.submit:hover {
  background-color: #2b2b2b;
  background-color: rgba(43, 43, 43, 0.8);
}

.form_field_required .form_field_label:after {
  content: '*';
}

label {
  cursor: pointer;
}
label:before {
  display: none;
  content: url("../images/check.png?1");
}
label .form_field_checkbox,
label .form_field_radio {
  display: none;
  display: inline-block\9;
}
label .form_field_checkbox + .form_control_indicator:before {
  background: white;
}
label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check_small.png?1") no-repeat left bottom;
}
.backgroundsize label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check.png?1") no-repeat left bottom;
  background-size: 17px 18px;
}
label .form_field_radio + .form_control_indicator:before {
  width: 9px;
  height: 9px;
  border: 3px solid white;
}
label .form_field_radio:checked + .form_control_indicator:before {
  background-color: #333333;
}
label .form_control_indicator {
  position: relative;
  display: inline-block;
  display: none\9;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  vertical-align: 0;
}
label .form_control_indicator:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 10px;
  border: 1px solid #818181;
  border-color: rgba(129, 129, 129, 0.9);
}
table th {
  font-weight: bold;
}

/* tbl */
.tbl {
  display: table;
}
.tbl .tbl-row {
  display: table-row;
}
.tbl .tbl-cell {
  display: table-cell;
}

/* body */
html,
body {
  font: 18px/1.45 "Montserrat", Helvetica, Arial, "sans-serif";
}

html.blog-list-page, html.blog-list-page body {
  height: 100% !important;
}

body {
  position: relative;
  text-align: left;
  color: #333333;
  background: #f4f4f4;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

/* link */
a {
  text-decoration: none;
  color: #919191;
}
a:hover {
  color: black;
}

/* holder */
.holder {
  height: 100%;
}

/* wrap */
.wrap {
  max-width: 700px;
  padding: 0 50px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  min-height: 100px;
}
.header.headroom--not-top {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  min-height: 75px;
}
.header.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.header .header-inner {
  float: right;
  padding: 37px 50px 0 20px;
  position: relative;
  z-index: 20;
  min-width: 24px;
  min-height: 24px;
}
.main-menu-fits .header .header-inner {
  display: none;
}
.main-menu-open .header .header-inner {
  display: none;
}
.search-visible .header .header-inner {
  display: block;
}
.search-enabled .header .header-inner {
  display: block;
}
.header.headroom--not-top .header-inner {
  padding-top: 25px;
}
.header .main-menu-toggler {
  display: block;
  float: left;
  height: 28px;
  margin-left: 10px;
  font-size: 0;
  line-height: 0;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.main-menu-fits .header .main-menu-toggler {
  display: none;
}
.main-menu-open .header .main-menu-toggler {
  display: none;
}
.search-visible .header .main-menu-toggler {
  display: block;
}
.header .main-menu-toggler.main-menu-toggler-mobile {
  display: none;
}
.header .main-menu-toggler span {
  font-size: 18px;
  line-height: 28px;
  display: block;
  padding-left: 36px;
}
.header .main-menu-toggler:before, .header .main-menu-toggler:after,
.header .main-menu-toggler span:before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  width: 18px;
  height: 3px;
  background: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header .main-menu-toggler:before {
  top: 13px;
}
.header .main-menu-toggler:after {
  top: 18px;
}

/* site-title */
.site-title {
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: black;
  padding: 37px 0 37px 50px;
}
.headroom--not-top .site-title {
  padding-top: 25px;
  padding-bottom: 25px;
}
.site-title .site-title-inner {
  display: inline;
  min-width: 150px;
  line-height: 1.1;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.site-title a {
  color: black;
}

/* search */
.search-holder {
  float: left;
  height: 28px;
  width: 28px;
  position: relative;
}

.search-container {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 28px;
}
.search-visible .search-container {
  display: block;
}

.search-toggler {
  display: none;
  width: 28px;
  height: 28px;
  background: url("../images/ico-search-black.png") no-repeat center center;
  position: relative;
  opacity: 0.35;
  overflow: hidden;
}
.search-toggler:hover {
  opacity: 1;
}
.svg .search-toggler {
  background: none;
}
.search-toggler svg {
  display: none;
}
.svg .search-toggler svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
}
.search-enabled .search-toggler {
  display: block;
}
.search-visible .search-toggler {
  display: none;
}

.search {
  background: red;
  width: 180px;
  height: 28px;
  padding: 0 38px 0 10px;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search .search-input {
  background: none;
  outline: 0;
  padding: 0;
  height: 28px;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 1.1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search .search-submit {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/ico-search-black.png") no-repeat center center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.svg .search .search-submit {
  background: none;
}
.search .search-submit svg {
  display: none;
}
.svg .search .search-submit svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
}
.search .search-close {
  display: none;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  background: url("../images/close.png") no-repeat center center;
  overflow: hidden;
}
.svg .search .search-close {
  background: none;
}
.search .search-close svg {
  display: none;
}
.svg .search .search-close svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
}
.search.not-empty .search-submit {
  display: none;
}
.search.not-empty .search-close {
  display: block;
}

.search-results {
  display: none;
  position: absolute;
  right: 0;
  top: 28px;
  width: 400px;
  padding: 15px 25px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) ;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) ;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: auto;
  max-height: 400px;
}
.search-results.search-results-active {
  display: block;
}
.search-results .voog-search-modal-results {
  font-size: 16px;
}
.search-results .voog-search-modal-result {
  padding: 10px 0;
  color: #818181;
  font-size: 14px;
  line-height: 1.5;
}
.search-results .voog-search-modal-result h3 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  color: black;
}
.search-results .voog-search-modal-result h3 a {
  color: black;
}
.search-results .voog-search-modal-result p {
  margin: 0;
  padding: 0;
}
.search-results .voog-search-modal-result em {
  font-style: normal;
  background: #fbf5ac;
}
.search-results .voog-search-loader {
  height: 60px;
  display: none;
}
.svg .search-results .voog-search-loader {
  background: url("../assets/loader.svg") no-repeat center center;
}
.search-results.search-results.loading .voog-search-loader {
  display: block;
}
.search-results.search-results.loading .voog-search-modal-results {
  display: none;
}

/* main-menu */
.main-menu {
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  max-width: 100%;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-menu-fits .main-menu {
  display: block;
}
.main-menu-open .main-menu {
  display: block;
}
.search-visible .main-menu {
  display: none;
}
.headroom--not-top .main-menu {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.headroom--pinned .main-menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.main-menu .toggler {
  display: none;
}
.main-menu ul {
  padding: 36px 45px;
}
.headroom--not-top .main-menu ul {
  padding-top: 24px;
  padding-bottom: 24px;
}
.search-enabled .main-menu ul {
  padding-right: 90px;
}
.main-menu ul li {
  display: inline-block;
  padding: 0 5px;
}
.main-menu ul a {
  font-size: 16px;
  line-height: 1.1;
  color: #818181;
  text-transform: uppercase;
}
.main-menu ul a:hover, .main-menu ul a.active {
  color: black;
}
.main-menu ul .untranslated {
  zoom: 1;
  opacity: .5;
  filter: alpha(Opacity=50);
}

/* submenu */
.sub-menu {
  min-height: 35px;
  padding: 0 50px;
  font-size: 14px;
  line-height: 1.1;
  text-align: right;
  word-wrap: break-word;
}
.content .sub-menu {
  display: none;
}
.sub-menu li {
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 5px;
}
.sub-menu li.edy-btn {
  vertical-align: middle;
}
.sub-menu a {
  display: inline-block;
  color: #818181;
}
.sub-menu a:hover, .sub-menu a.active {
  color: black;
}
.sub-menu a.edy-cbtn {
  padding: 0;
}
.sub-menu .untranslated {
  zoom: 1;
  opacity: .5;
  filter: alpha(Opacity=50);
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30, 0, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-4px, 0px, 0);
    transform: translate3d(-4px, 0px, 0);
  }
}
@-webkit-keyframes bounce {
  0%, 10%, 26%, 40%, 50% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%, 22% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  35% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  45% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
@keyframes bounce {
  0%, 10%, 26%, 40%, 50% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%, 22% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  35% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  45% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
.animated-bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

/* main */
.main {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%;
  background: #f4f4f4;
}
.main .main-inner {
  padding-top: 100px;
}
.blog-list-page .main {
  height: 100%;
  min-height: 0;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: relative;
  overflow-y: hidden;
}
.blog-list-page .main .article, .blog-list-page .main .new-article {
  font-size: 18px;
  line-height: 1.45;
  display: inline-block;
  height: 100%;
  width: 300px;
  white-space: normal;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-list-page .main .article a, .blog-list-page .main .new-article a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 0;
  color: white;
  text-align: left;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.blog-list-page .main .article .article-bg-color, .blog-list-page .main .new-article .article-bg-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #2b2b2b;
}
.blog-list-page .main .article .article-inner, .blog-list-page .main .new-article .article-inner {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.blog-list-page .main .article .article-inner:after, .blog-list-page .main .new-article .article-inner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(top, transparent 0%, transparent 67%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(67%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top, transparent 0%, transparent 67%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 67%, rgba(0, 0, 0, 0.3) 100%);
  background: -ms-linear-gradient(top, transparent 0%, transparent 67%, rgba(0, 0, 0, 0.3) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 67%, rgba(0, 0, 0, 0.3) 100%);
}
.blog-list-page .main .article .article-content, .blog-list-page .main .new-article .article-content {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 50px;
  z-index: 10;
}
.blog-list-page .main .article img, .blog-list-page .main .new-article img {
  display: none;
}
.blog-list-page .main .article h2, .blog-list-page .main .new-article h2 {
  margin: 0;
  padding: 0;
  color: white;
}
.blog-list-page .main .article .article-date, .blog-list-page .main .new-article .article-date {
  font-size: 12px;
  padding-top: 8px;
}
.blog-list-page .main .article:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.blog-list-page .main .main-inner {
  height: 100vh;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-list-page .main .scroller-arrow {
  display: none;
  height: 94px;
  width: 80px;
  outline: 0;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 100;
}
.blog-list-page .main .scroller-arrow span {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}
.blog-list-page .main .scroller-arrow span:before, .blog-list-page .main .scroller-arrow span:after {
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background: white;
  left: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.blog-list-page .main .scroller-arrow span:before {
  top: 37px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.blog-list-page .main .scroller-arrow span:after {
  top: 57px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.blog-list-page .main:hover .article:before {
  background: rgba(0, 0, 0, 0.1);
}
.blog-list-page .main:hover .article:hover:before {
  background: none;
}
.main .content-wrap {
  padding: 30px 0 0;
}
.main .content {
  padding: 40px 0 70px;
}
.main .content p:first-child {
  margin-top: 0;
}
.main .content-header {
  margin-bottom: 24px;
}
.main .content-header h1,
.main .content-header h2,
.main .content-header h3 {
  margin-bottom: 0;
}

/* formatted */
.formatted {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.formatted h1:first-child,
.formatted h2:first-child,
.formatted h3:first-child,
.formatted h4:first-child,
.formatted h5:first-child,
.formatted h6:first-child,
.formatted p:first-child,
.formatted ul:first-child,
.formatted ol:first-child,
.formatted pre:first-child,
.formatted code:first-child {
  margin-top: 0;
}
.formatted h1:last-child,
.formatted h2:last-child,
.formatted h3:last-child,
.formatted h4:last-child,
.formatted h5:last-child,
.formatted h6:last-child,
.formatted p:last-child,
.formatted ul:last-child,
.formatted ol:last-child,
.formatted pre:last-child,
.formatted code:last-child {
  margin-bottom: 0;
}
.formatted pre,
.formatted code,
.formatted iframe,
.formatted table,
.formatted form {
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.formatted ul,
.formatted ol {
  margin: 15px 0;
  padding-left: 35px;
  list-style-type: disc;
}
.formatted ol {
  list-style-type: decimal;
}
.formatted li {
  padding-left: 3px;
}
.formatted pre,
.formatted .embed-container,
.formatted .table-container, .editmode .formatted table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.formatted span[style*="font-size"] {
  line-height: 1.7em;
}
.formatted iframe {
  max-width: 100%;
  height: auto;
}
.formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* new-article */
.new-article {
  background: #2b2b2b;
  opacity: 0.95;
}
.new-article, .new-article h3 {
  color: white;
}
.new-article .tbl {
  width: 100%;
  height: 100%;
}
.new-article .tbl-cell {
  height: 100%;
  vertical-align: middle;
}
.new-article .new-article-inner {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 80px 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/new_article.png") no-repeat center top;
}
.svg .new-article .new-article-inner {
  background: none;
}
.new-article .new-article-inner svg {
  display: none;
}
.svg .new-article .new-article-inner svg {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -36px;
}
.new-article .new-article-inner h3 {
  margin: 0;
  padding: 0;
}
.new-article:hover {
  color: white;
  opacity: 1;
}

/* post */
.post-header {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.post-header .post-date {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #818181;
  padding-top: 10px;
}

.post-body {
  padding-top: 20px;
}

.post-tags {
  padding-top: 20px;
}
.post-tags ul {
  margin: 0;
  padding: 0;
}
.post-tags ul li {
  display: inline-block;
}
.post-tags ul a {
  display: inline-block;
  background: #818181;
  color: white;
  font-size: 12px;
  line-height: 1.1;
  padding: 3px 10px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
}

.post-bottom {
  padding: 20px 0 0;
}
.post-bottom .left, .post-bottom .right {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-bottom .left {
  float: left;
  padding-right: 5%;
}
.post-bottom .left-wide {
  float: none;
  padding-right: 0;
  width: 100%;
}
.post-bottom .right {
  float: right;
  padding-left: 5%;
}
.post-bottom h2 {
  margin: 25px 0 20px;
  padding: 0;
}

.post-cover-holder {
  /*text-align: center;*/
}

.post-cover-wrap {
  /*margin: 0 auto;*/
  width: 150px;
  padding-bottom: 375px;
  position: relative;
}

.post-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.post-cover .tbl {
  width: 100%;
  height: 100%;
}
.post-cover .post-cover-inner {
  display: table-cell;
  vertical-align: middle;
  border: 1px dashed #919191;
  border-color: rgba(145, 145, 145, 0.3);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.post-cover .post-cover-inner.active {
  border: none;
}
.post-cover .post-cover-inner .edy-img-drop-area-placeholder {
  color: #818181;
  padding: 20px;
  text-align: center;
}

/* comment-form */
.comment-form {
  position: relative;
  min-height: 30px;
  padding-bottom: 10px;
}
.comment-form .comment-form-toggler {
  font-weight: bold;
  font-size: 13px;
}
.comment-form .form_field, .comment-form .edy-fe-field {
  margin-bottom: 10px;
}
.comment-form .comment-name-field,
.comment-form .comment-email-field {
  width: 100%;
}
.comment-form .comment-name-field input,
.comment-form .comment-email-field input {
  width: 100% !important;
}
.comment-form h2 {
  padding-left: 10px;
}

/* comments */
.comment {
  word-wrap: break-word;
  font-size: 14px;
  padding-bottom: 15px;
}
.comment .comment-info {
  font-size: 10px;
  padding-top: 5px;
  color: #818181;
  height: 23px;
  line-height: 23px;
}
.comment .comment-info .edy-site-btn-removecomment {
  vertical-align: -2px;
}

/* footer */
.footer {
  background: white;
  z-index: 200;
  min-height: 75px;
}
.blog-list-page .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer .inner {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.footer .row {
  display: table-row;
}
.footer .footer-content {
  height: 65px;
  vertical-align: middle;
  display: table-cell;
  border: none;
  text-align: center;
  font-size: 10px;
  line-height: 1.4;
  padding: 15px 0;
}
.footer .voog-reference {
  display: block;
  padding-top: 5px;
}
.footer .voog-reference svg {
  fill: #333333;
}
.footer .tbl {
  margin: 0 auto;
}

/* flags */
.lang-flag:before, .lang-flag:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.flags-disabled .lang-flag:before, .flags-disabled .lang-flag:after {
  display: none;
}
.lang-flag:after {
  background-position: -189px -60px;
}

.lang-flag:before {
  background-color: black;
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
  background-image: url("../images/ico-flags.png");
}
.no-boxshadow .lang-flag:after {
  border: 1px solid #eeeeee;
}
.backgroundsize.svg .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}

.lang-flag-sq:after {
  background-position: 0 0;
}

.lang-flag-hy:after {
  background-position: -21px 0;
}

.lang-flag-bn:after {
  background-position: -42px 0;
}

.lang-flag-xx:after {
  background-position: -63px 0;
}

.lang-flag-bg:after {
  background-position: -84px 0;
}

.lang-flag-zh:after {
  background-position: -105px 0;
}

.lang-flag-hr:after {
  background-position: -126px 0;
}

.lang-flag-da:after {
  background-position: -147px 0;
}

.lang-flag-cs:after {
  background-position: -168px 0;
}

.lang-flag-et:after {
  background-position: -189px 0;
}

.lang-flag-fi:after {
  background-position: 0 -15px;
}

.lang-flag-fr:after {
  background-position: -21px -15px;
}

.lang-flag-ka:after {
  background-position: -42px -15px;
}

.lang-flag-de:after {
  background-position: -63px -15px;
}

.lang-flag-el:after {
  background-position: -84px -15px;
}

.lang-flag-hu:after {
  background-position: -105px -15px;
}

.lang-flag-is:after {
  background-position: -126px -15px;
}

.lang-flag-hi:after {
  background-position: -147px -15px;
}

.lang-flag-id:after {
  background-position: -168px -15px;
}

.lang-flag-fa:after {
  background-position: -189px -15px;
}

.lang-flag-he:after {
  background-position: 0 -30px;
}

.lang-flag-it:after {
  background-position: -21px -30px;
}

.lang-flag-ja:after {
  background-position: -42px -30px;
}

.lang-flag-ko:after {
  background-position: -63px -30px;
}

.lang-flag-lv:after {
  background-position: -84px -30px;
}

.lang-flag-lt:after {
  background-position: -105px -30px;
}

.lang-flag-ms:after {
  background-position: -126px -30px;
}

.lang-flag-nl:after {
  background-position: -147px -30px;
}

.lang-flag-no:after {
  background-position: -168px -30px;
}

.lang-flag-ur:after {
  background-position: -189px -30px;
}

.lang-flag-fil:after {
  background-position: 0 -45px;
}

.lang-flag-pl:after {
  background-position: -21px -45px;
}

.lang-flag-ro:after {
  background-position: -42px -45px;
}

.lang-flag-ru:after {
  background-position: -63px -45px;
}

.lang-flag-ar:after {
  background-position: -84px -45px;
}

.lang-flag-sk:after {
  background-position: -105px -45px;
}

.lang-flag-sl:after {
  background-position: -126px -45px;
}

.lang-flag-es:after {
  background-position: -147px -45px;
}

.lang-flag-sv:after {
  background-position: -168px -45px;
}

.lang-flag-tr:after {
  background-position: -189px -45px;
}

.lang-flag-uk:after {
  background-position: 0 -60px;
}

.lang-flag-en:after {
  background-position: -21px -60px;
}

.lang-flag-xx:after {
  background-position: -42px -60px;
}

.lang-flag-xx:after {
  background-position: -63px -60px;
}

.lang-flag-pt:after {
  background-position: -84px -60px;
}

.lang-flag-xx:after {
  background-position: -105px;
}

.lang-flag-sr:after {
  background-position: -126px;
}

.lang-flag-xx:after {
  background-position: -147px;
}

.lang-flag-xx:after {
  background-position: -168px;
}

/* langmenu */
.lang-menu {
  position: relative;
  display: inline-block;
  z-index: 200;
  padding-right: 20px;
}

.lang-menu-btn {
  position: relative;
  font-family: inherit;
  vertical-align: middle;
}
.flags-enabled .lang-menu-btn {
  width: 21px;
  height: 15px;
}
.flags-enabled .lang-menu-btn .lang-title {
  display: none;
}
.lang-menu-btn .lang-flag:before, .lang-menu-btn .lang-flag:after {
  top: 0;
  left: 0;
}
.lang-menu-btn .ico-popover-toggle {
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 7.2px;
}
.flags-enabled .lang-menu-btn .ico-popover-toggle {
  display: none;
}
.lang-menu-btn.open .ico-popover-toggle {
  top: -1px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: -12px;
  display: none;
  min-width: 122px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
}
.no-boxshadow .lang-menu-popover {
  border: 1px solid #eeeeee;
}
.editmode .lang-menu-popover {
  padding-bottom: 0;
}
.lang-menu-popover li {
  display: block;
  font-size: 12px;
  text-align: left;
}
.lang-menu-popover li.add-lang-btn {
  padding: 5px 0 4px 10px;
}
.lang-menu-popover a.lang-flag {
  position: relative;
  display: block;
  padding: 6px 13px 5px 40px;
}
.lang-menu-popover a.lang-flag:before, .lang-menu-popover a.lang-flag:after {
  top: 4px;
  left: 12px;
}
.lang-menu-popover a.lang-flag.active, .lang-menu-popover a.lang-flag:hover {
  background-color: #cccccc;
}
.lang-menu-popover a.lang-flag:hover {
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.5);
}
.lang-menu-popover a.edy-menu-langadd {
  display: inline-block;
  padding: 5px;
}
.flags-disabled .lang-menu-popover a.lang-flag {
  padding: 6px 13px 5px;
}

/* lang-options */
.lang-options {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 7px 12px;
  font-size: 11px;
  line-height: 1.1;
}
.lang-options .option-btn {
  font-size: 11px;
  line-height: 1.1;
  color: #919191;
}
.lang-options .option-btn:hover {
  color: black;
}
.lang-options .option-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
.lang-options .option-btn:focus {
  outline: none;
}
.flags-disabled .lang-options .option-btn .disable-text {
  display: none;
}
.flags-enabled .lang-options .option-btn .enable-text {
  display: none;
}

/* image title */
.edy-image-container-with-title:after {
  display: block;
  padding: 2px;
  font-size: 11px;
  content: attr(data-title);
}

.edy-positionable-container-left-block,
.edy-positionable-container-right-block,
.edy-positionable-container-center-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.edy-positionable-container-left-block:first-child,
.edy-positionable-container-right-block:first-child,
.edy-positionable-container-center-block:first-child {
  margin-top: 0;
}
.edy-positionable-container-left-block:last-child,
.edy-positionable-container-right-block:last-child,
.edy-positionable-container-center-block:last-child {
  margin-bottom: 0;
}

.edy-positionable-container-left,
.edy-positionable-container-right {
  width: 45%;
}

.edy-positionable-container-left {
  margin-right: 20px;
}

.edy-positionable-container-right {
  margin-left: 20px;
}

.voog-bg-picker-btn {
  position: absolute;
  z-index: 50;
}

@media screen and (max-width: 600px) {
  blockquote {
    font-size: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .post-bottom {
    padding-top: 20px;
  }
  .post-bottom .left, .post-bottom .right {
    padding: 0;
    width: 100%;
  }
  .post-bottom .right {
    padding-top: 30px;
  }
  .post-bottom h2 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px), screen and (max-height: 325px) {
  html,
  body {
    font-size: 16px;
    line-height: 1.75;
  }

  body {
    min-width: 300px;
  }
  body.blog-list-page {
    min-width: 150px;
  }
  body.mobile-main-menu-open, body.search-visible, body.mobile-lang-menu-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
  body.mobile-main-menu-open .holder, body.search-visible .holder, body.mobile-lang-menu-open .holder {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  iframe {
    max-width: 100%;
  }

  .wrap {
    padding: 0 25px;
  }

  .header {
    min-width: 150px;
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
  }
  .header, .header.headroom--not-top {
    min-height: 40px;
  }
  .header.headroom--not-top {
    display: none;
  }
  .header.headroom--pinned {
    display: block;
  }
  .header .header-inner {
    min-height: 40px;
    display: block !important;
  }
  .front-page .header .header-inner, .header .header-inner {
    padding: 0 !important;
  }
  .header .main-menu-toggler {
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
  .main-menu-open .header .main-menu-toggler, .search-visible .header .main-menu-toggler, .header .main-menu-toggler {
    display: none !important;
  }
  .header .main-menu-toggler.main-menu-toggler-mobile {
    display: block !important;
  }
  .header .main-menu-toggler span {
    padding-left: 0;
    width: 40px;
    text-indent: -9000px;
  }
  .header .main-menu-toggler:before, .header .main-menu-toggler:after,
  .header .main-menu-toggler span:before {
    top: 13px;
    left: 11px;
  }
  .header .main-menu-toggler:before {
    top: 18px;
  }
  .header .main-menu-toggler:after {
    top: 23px;
  }

  .front-page .site-title, .site-title {
    font-size: 18px;
    padding: 10px 45px 8px 15px !important;
  }

  .search-holder {
    height: 40px;
    width: 40px;
  }

  .search-toggler {
    height: 40px;
    width: 40px;
  }

  .main-menu {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    display: none !important;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
  }
  .main-menu-open .main-menu, .main-menu {
    display: none;
  }
  .mobile-main-menu-open .main-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block !important;
    overflow: auto;
    background-color: #2b2b2b;
    background-color: rgba(43, 43, 43, 0.9);
    -webkit-overflow-scrolling: touch;
  }
  .main-menu .main-menu-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }
  .main-menu .main-menu-inner {
    display: table-row;
  }
  .main-menu ul {
    display: table-cell;
    height: 100%;
    padding: 50px 30px !important;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
  }
  .main-menu ul li {
    display: block;
    margin: 0;
    padding: 12px 0;
    text-align: center;
  }
  .main-menu ul a {
    font-size: 20px;
    line-height: 1.05;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
  .main-menu ul a:hover, .main-menu ul a.active {
    color: white;
  }

  .sub-menu {
    text-align: left;
    padding: 0 25px;
    display: none;
    background: white;
    padding: 10px 0px 5px;
    max-width: 50%;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: -25px;
  }
  .content .sub-menu {
    display: block;
  }
  .sub-menu ul {
    padding: 5px 15px;
    margin: 0;
  }
  .sub-menu li {
    display: block;
    padding-left: 0;
    padding-right: 0px;
    padding-bottom: 8px;
    text-align: left;
  }
  .sub-menu a {
    line-height: 1.05;
    display: block;
  }
  .sub-menu a.active {
    text-transform: uppercase;
  }

  .main .main-inner, .blog-list-page .main .main-inner {
    padding: 40px 0 0;
  }
  .blog-list-page .main .article, .blog-list-page .main .new-article {
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .blog-list-page .main .article .article-content, .blog-list-page .main .new-article .article-content {
    left: 20px;
    right: 20px;
  }
  .blog-list-page .main .scroller-arrow {
    height: 74px;
    width: 60px;
    top: 40px;
  }
  .blog-list-page .main .scroller-arrow span:before, .blog-list-page .main .scroller-arrow span:after {
    width: 20px;
    left: 20px;
  }
  .blog-list-page .main .scroller-arrow span:before {
    top: 29px;
  }
  .blog-list-page .main .scroller-arrow span:after {
    top: 43px;
  }
  .main .content-wrap {
    padding: 15px 0 0;
  }
  .main .content {
    padding: 25px 0 40px;
  }

  .footer {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
  }
  .blog-list-page .footer {
    display: none;
  }
  .footer .footer-content {
    height: auto;
    padding: 20px 0;
  }

  .lang-menu-btn-holder {
    position: absolute;
    display: block;
    top: 14px;
    left: 15px;
    font-size: 12px;
    line-height: 1.1;
  }
  .lang-menu-btn-holder .lang-menu-btn {
    color: white;
    white-space: nowrap;
  }

  .mobile-lang-menu-open .lang-menu-holder {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: auto;
    background-color: #2b2b2b;
    background-color: rgba(43, 43, 43, 0.9);
    -webkit-overflow-scrolling: touch;
  }
  .lang-menu-holder .lang-menu-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }
  .lang-menu-holder .lang-menu {
    display: table-row;
    padding: 0;
    position: static;
    z-index: 0;
  }
  .lang-menu-holder .lang-menu ul {
    display: table-cell;
    height: 100%;
    padding: 50px 30px !important;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  .lang-menu-holder .lang-menu ul li {
    display: block;
    margin: 0;
    padding: 12px 0;
    text-align: center;
  }
  .lang-menu-holder .lang-menu ul li.lang-options-holder {
    padding: 0;
  }
  .lang-menu-holder .lang-menu ul a {
    font-size: 20px;
    line-height: 1.05;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
  .lang-menu-holder .lang-menu ul a:hover, .lang-menu-holder .lang-menu ul a.active {
    color: white;
  }
  .lang-menu-holder .lang-options {
    background: none;
    text-align: center;
    font-size: 13px;
    line-height: 1.1;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
  .lang-menu-holder .lang-options .option-btn {
    color: white;
    font-size: 13px;
    line-height: 1.1;
  }
  .lang-menu-holder .lang-options .option-btn:hover {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  .mobile-dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 42px;
    height: 42px;
    outline: 0;
    z-index: 100;
  }
  .mobile-dialog-close:before, .mobile-dialog-close:after {
    position: absolute;
    top: 19px;
    left: 12px;
    display: block;
    width: 20px;
    height: 2px;
    content: '';
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .mobile-dialog-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobile-dialog-close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .search-visible .search-container {
    display: block;
    position: fixed;
    z-index: 1000;
    height: auto;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: auto;
    background: #f4f4f4;
    -webkit-overflow-scrolling: touch;
  }

  .search {
    width: auto;
    height: 40px;
    padding: 0;
    overflow: hidden;
  }
  .search .search-input {
    height: 40px;
    padding-left: 15px;
    padding-right: 50px;
  }
  .search .search-input.search-input-focus {
    background: #f9ec5a;
  }
  .search .search-submit {
    height: 40px;
    width: 40px;
  }
  .search .search-close {
    height: 40px;
    width: 40px;
  }

  .search-visible .search-toggler {
    display: block;
    background: none !important;
  }
  .search-visible .search-toggler svg {
    display: none;
  }
  .search-visible .search-toggler:before, .search-visible .search-toggler:after {
    position: absolute;
    top: 18px;
    left: 12px;
    display: block;
    width: 20px;
    height: 3px;
    content: '';
    background: black;
    opacity: 0.5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .search-visible .search-toggler:hover:before, .search-visible .search-toggler:hover:after {
    opacity: 1;
  }
  .search-visible .search-toggler:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .search-visible .search-toggler:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .search-results {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    -webkit-box-shadow: 0 0 0 none ;
    -moz-box-shadow: 0 0 0 none ;
    box-shadow: 0 0 0 none ;
    -webkit-overflow-scrolling: touch;
    max-height: auto;
  }
  .search-results .voog-search-loader {
    height: 100%;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field .jq-select {
    width: 100% !important;
  }
}
