/* FONTS */
@font-face {
  font-family: "Arvo";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/arvo-regular.eot");
  src: url("../assets/arvo-regular.eot?#iefix") format("embedded-opentype"), url("../assets/arvo-regular.woff") format("woff"), url("../assets/arvo-regular.ttf") format("truetype"), url("../assets/arvo-regular.svg#Arvo") format("svg");
}
@font-face {
  font-family: "Arvo";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/arvo-italic.eot");
  src: url("../assets/arvo-italic.eot?#iefix") format("embedded-opentype"), url("../assets/arvo-italic.woff") format("woff"), url("../assets/arvo-italic.ttf") format("truetype"), url("../assets/arvo-italic.svg#Arvo") format("svg");
}
@font-face {
  font-family: "Arvo";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/arvo-bold.eot");
  src: url("../assets/arvo-bold.eot?#iefix") format("embedded-opentype"), url("../assets/arvo-bold.woff") format("woff"), url("../assets/arvo-bold.ttf") format("truetype"), url("../assets/arvo-bold.svg#Arvo") format("svg");
}
@font-face {
  font-family: "Arvo";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/arvo-bold-italic.eot");
  src: url("../assets/arvo-bold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/arvo-bold-italic.woff") format("woff"), url("../assets/arvo-bold-italic.ttf") format("truetype"), url("../assets/arvo-bold-italic.svg#Arvo") format("svg");
}
/* GENERAL */
html, body {
  height: 100% !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body.search-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.content-formatted:after, .contacts .content-formatted table tr:after, .footer .content-formatted table tr:after, .menu-pagination .menu:after, .header-top .wrap:after, .main-feature .wrap:after,
.summary .wrap:after, .edys-gallery:after, .search:after,
.search-form:after, .content-formatted .form_submit:after, .comment-form:after, .footer-inner .wrap:after {
  content: "";
  display: table;
  clear: both;
}

.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6, .content-formatted p, .content-formatted ul, .content-formatted ol, .menu-sub .menu-item, .header-title, .post-title, .post-title a, .comments .comment-messages {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.loader, .background-image,
.background-color {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bgpicker-btn, .menu-btn, .menu-lang-btn, .search-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.bgpicker-btn:focus, .menu-btn:focus, .menu-lang-btn:focus, .search-btn:focus {
  outline: none;
}
.bgpicker-btn::-moz-focus-inner, .menu-btn::-moz-focus-inner, .menu-lang-btn::-moz-focus-inner, .search-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

.menu-pagination .menu-item,
.menu-pagination .menu-item .menu-link, .footer-inner .voog-reference a {
  display: inline-block;
}

.header-left, .footer-inner .footer-left {
  position: relative;
  float: left;
}

.header-right, .footer-inner .footer-right {
  float: right;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  line-height: 1.3em;
  font-style: normal;
  font-size: 24px;
  background-color: #e4ac00;
}
.btn:before {
  content: '\A';
}
.btn:hover {
  background-color: #E4AC00;
  background-color: rgba(228, 172, 0, 0.8);
}
.btn a {
  text-decoration: none;
}

.loader {
  position: absolute;
}

.loader-cube {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-top: -52px;
  margin-left: -26px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  -moz-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}
.loader:not(.hidden) .loader-cube {
  -webkit-transition: opacity 0.5s ease-in 1.5s;
  -moz-transition: opacity 0.5s ease-in 1.5s;
  transition: opacity 0.5s ease-in 1.5s;
}
.hidden .loader-cube {
  opacity: 0;
}

.loader-cube-2 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes cubemove {
  25% {
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.bgpicker-btn {
  position: absolute;
}

.background-image,
.background-color {
  position: absolute;
}

.background-image {
  z-index: -2;
  background-position: center;
  background-size: cover;
}

.background-color {
  z-index: -1;
}

.container {
  position: relative;
  min-height: 100%;
}
.editmode .container {
  min-height: -webkit-calc(100% - 40px);
  min-height: calc(100% - 40px);
}
.search-open .container {
  position: static;
}
.container a {
  text-decoration: none;
}
.container a img {
  border: none;
}

.wrap {
  margin: 0 auto;
}

.front-page .wrap, .menu-sub .wrap, .header-top .wrap, .footer-inner .wrap {
  max-width: 1000px;
}

.content-formatted.header-body {
  line-height: 1.5em;
  font-style: italic;
  font-size: 30px;
}
@media screen and (max-width: 582px) {
  .content-formatted.header-body {
    font-size: 24px;
  }
}
.main-feature .content-formatted, .quotation .content-formatted {
  line-height: 1.4em;
}
.quotation .content-formatted {
  width: 100%;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.contacts .content-formatted {
  text-align: center;
  font-size: 20px;
}
.content-formatted.footer-left {
  font-size: 20px;
}
.content-formatted.footer-right {
  font-size: 16px;
}
.content-formatted h1:first-child, .content-formatted h2:first-child, .content-formatted h3:first-child, .content-formatted h4:first-child, .content-formatted h5:first-child, .content-formatted h6:first-child, .content-formatted p:first-child, .content-formatted ul:first-child, .content-formatted ol:first-child, .content-formatted pre:first-child, .content-formatted code:first-child, .content-formatted img:first-child, .content-formatted iframe:first-child, .content-formatted table:first-child, .content-formatted form:first-child {
  margin-top: 0;
}
.content-formatted h1:last-child, .content-formatted h2:last-child, .content-formatted h3:last-child, .content-formatted h4:last-child, .content-formatted h5:last-child, .content-formatted h6:last-child, .content-formatted p:last-child, .content-formatted ul:last-child, .content-formatted ol:last-child, .content-formatted pre:last-child, .content-formatted code:last-child, .content-formatted img:last-child, .content-formatted iframe:last-child, .content-formatted table:last-child, .content-formatted form:last-child {
  margin-bottom: 0;
}
.dark-background .content-formatted, .dark-background .content-formatted h1, .dark-background .content-formatted h2, .dark-background .content-formatted h3, .dark-background .content-formatted h4, .dark-background .content-formatted h5, .dark-background .content-formatted h6, .dark-background .content-formatted p, .dark-background .content-formatted ul, .dark-background .content-formatted ol, .dark-background .content-formatted pre, .dark-background .content-formatted code, .dark-background .content-formatted table {
  color: white;
}
.footer-inner.dark-background .content-formatted, .footer-inner.dark-background .content-formatted h1, .footer-inner.dark-background .content-formatted h2, .footer-inner.dark-background .content-formatted h3, .footer-inner.dark-background .content-formatted h4, .footer-inner.dark-background .content-formatted h5, .footer-inner.dark-background .content-formatted h6, .footer-inner.dark-background .content-formatted p, .footer-inner.dark-background .content-formatted ul, .footer-inner.dark-background .content-formatted ol, .footer-inner.dark-background .content-formatted pre, .footer-inner.dark-background .content-formatted code, .footer-inner.dark-background .content-formatted table {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.content-formatted iframe, .content-formatted pre, .content-formatted .edy-positionable-container-left-block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  font-weight: 600;
}
.content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-formatted h1, .content-formatted h2 {
  text-align: center;
}
.content-formatted h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.3em;
  font-size: 36px;
}
.contacts .content-formatted h1 {
  font-size: 32px;
}
.content-formatted h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
}
.main-feature .content-formatted h2 {
  margin-bottom: 17px;
  text-align: left;
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 582px) {
  .main-feature .content-formatted h2:first-child {
    margin-top: 0;
  }
}
.contacts .content-formatted h2 {
  font-size: 28px;
}
.content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  font-style: italic;
  font-size: 18px;
}
.contacts .content-formatted h3, .contacts .content-formatted h4, .contacts .content-formatted h5, .contacts .content-formatted h6 {
  font-weight: 400;
  font-size: 24px;
}
.content-formatted p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-feature .content-formatted p {
  margin-bottom: 17px;
}
.quotation .content-formatted p {
  margin-top: 7px;
  font-size: 24px;
  color: white;
}
.quotation .content-formatted p:first-child {
  margin-top: 15px;
}
.content-formatted ul,
.content-formatted ol {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.content-formatted a {
  text-decoration: underline;
  color: #e4ac00;
}
.content-formatted a:hover {
  text-decoration: none;
}
.main-feature .content-formatted a {
  font-style: italic;
}
.footer .content-formatted a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.content-formatted span[style*="font-size"] {
  line-height: 1.7em;
}
.content-formatted iframe {
  max-width: 100%;
}
.map .content-formatted iframe {
  margin-top: 0;
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
  font-size: 14px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}
.content-formatted pre code {
  display: block;
  white-space: nowrap;
  margin-top: 0;
  padding: 0;
}
.content-formatted blockquote {
  margin: 20px 40px;
}
.content-formatted .custom-btn {
  display: inline-block;
  padding: 15px 40px;
  line-height: 1.3em;
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  background-color: #e4ac00;
}
.content-formatted .custom-btn:hover {
  background-color: #E4AC00;
  background-color: rgba(228, 172, 0, 0.8);
}
.content-formatted .custom-btn a {
  text-decoration: none;
}
.content-formatted .contacts::first-line {
  color: red !important;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-positionable-container-right {
  margin-top: 0;
  margin-bottom: 0;
}
.content-formatted .edy-positionable-container-left {
  margin-right: 3%;
}
.content-formatted .edy-positionable-container-right {
  margin-left: 3%;
}
.content-formatted .edy-image-container-title {
  padding: 2px;
}
.content-formatted .table-container {
  border-left: 1px solid #000000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid #000000;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.content .content-formatted .table-container {
  margin-bottom: 35px;
}
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.contacts .content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: none;
}
.content-formatted table {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}
.editmode .content .content-formatted table {
  margin-bottom: 35px;
}
.contacts .content-formatted table, .editmode .contacts .content-formatted table {
  margin-bottom: 0;
}
.content-formatted table tr th,
.content-formatted table tr td {
  padding: 9px 13px;
}
.content-formatted table tr th {
  text-align: left;
  font-weight: 400;
  color: white;
  background-color: #e4ac00;
  border: 1px solid #e4ac00;
}
.footer .content-formatted table tr th {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.content-formatted table tr td {
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contacts .content-formatted table, .footer .content-formatted table {
  width: auto;
  border: none;
}
.contacts .content-formatted table tr td, .footer .content-formatted table tr td {
  background: none;
}
.contacts .content-formatted table tr td:first-child, .footer .content-formatted table tr td:first-child {
  padding-left: 0;
  border-left: none;
}
.contacts .content-formatted table tr td:last-child, .footer .content-formatted table tr td:last-child {
  padding-right: 0;
}
.contacts .content-formatted table {
  font-size: 24px;
  line-height: 1em;
}
.contacts .content-formatted table tr td {
  padding: 0 25px;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
  border-top: none;
  border-left: 2px solid #000000;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-bottom: none;
}
@media screen and (max-width: 1000px) {
  .contacts .content-formatted table {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .contacts .content-formatted table {
    font-size: 16px;
  }
}
.footer .content-formatted table tr td {
  padding: 0 12px;
  border: none;
}
.footer .content-formatted table tr td:last-child {
  padding-right: 0;
}
@media screen and (max-width: 682px) {
  .contacts .content-formatted table, .contacts .content-formatted table tbody, .contacts .content-formatted table tr, .footer .content-formatted table, .footer .content-formatted table tbody, .footer .content-formatted table tr {
    display: block;
  }
  .contacts .content-formatted table tr td, .footer .content-formatted table tr td {
    width: 100%;
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .contacts .content-formatted table {
    line-height: inherit;
  }
  .contacts .content-formatted table tr td {
    border-left: none;
    border-bottom: 2px solid #000000;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
}

/* MENUS */
.menu-btn {
  display: none;
}
.menu-btn .menu-stripe {
  display: block;
  width: 23px;
  height: 4px;
  margin: 4px auto 0;
  background-color: #E4AC00;
  background-color: rgba(228, 172, 0, 0.67);
  border-radius: 5px;
}
.menu-btn .menu-stripe:first-child {
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .menu-btn {
    position: relative;
    top: 4px;
    right: -4px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    width: 30px;
    height: 30px;
  }
  .menu-btn.open .menu-stripe, .menu-btn:hover .menu-stripe {
    background-color: #E4AC00;
    background-color: rgba(228, 172, 0, 0.47);
  }
}
@media screen and (max-width: 640px) {
  .menu-btn {
    margin-left: 0;
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-item,
.edit-btn {
  display: inline-block;
  vertical-align: middle;
}

.menu-main .menu-link.untranslated,
.menu-sub .menu-link.untranslated {
  color: #000000;
  color: rgba(0, 0, 0, 0.33);
}

.menu-main {
  position: relative;
  top: 3px;
  display: inline-block;
  vertical-align: middle;
}
.menu-main .menu-item,
.menu-main .edit-btn {
  margin-left: 17px;
}
.menu-main .menu-item:first-child {
  margin-left: 0;
}
.menu-main .edit-btn {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
@media screen and (max-width: 900px) {
  .menu-main .edit-btn {
    display: block;
    padding: 3px 15px 5px;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.menu-main .menu-link {
  padding-bottom: 3px;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.menu-main .menu-link.active, .menu-main .menu-link.active:hover
.menu-main .menu-link:hover {
  border-bottom: solid 1px #e4ac00;
  box-shadow: inset 0 -3px 0 #E4AC00;
}
.menu-main .menu-link:hover {
  border-bottom: solid 1px #E4AC00;
  border-bottom: solid 1px rgba(228, 172, 0, 0.8);
  box-shadow: inset 0 -3px 0 rgba(228, 172, 0, 0.8);
}
@media screen and (max-width: 900px) {
  .menu-main {
    display: none;
  }
  .menu-main.expanded {
    position: absolute;
    z-index: 50;
    top: 60px;
    right: 20px;
    display: block;
    margin-top: 0;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    background-color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  }
  .menu-main.expanded .menu-item,
  .menu-main.expanded .menu-link {
    display: block;
  }
  .menu-main.expanded .menu-item {
    margin-left: 0;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-main.expanded .menu-link {
    padding: 5px 15px 4px;
  }
  .menu-main.expanded .menu-link.active, .menu-main.expanded .menu-link.active:hover, .menu-main.expanded .menu-link:hover {
    border: none;
    box-shadow: none;
  }
  .menu-main.expanded .menu-link.active, .menu-main.expanded .menu-link.active:hover {
    color: #e4ac00;
  }
  .menu-main.expanded .menu-link:hover {
    color: #000000;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
    box-shadow: none;
  }
  .menu-main.expanded .edit-btn {
    margin: 0;
    top: 0;
  }
}
@media screen and (max-width: 480px) {
  .menu-main.expanded {
    top: 60px;
    left: 0;
    right: 0;
    min-width: 0;
    margin-bottom: 40px;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
}

.menu-sub .wrap {
  padding: 16px 20px 6px;
}
.menu-sub .menu {
  text-align: right;
}
.multilingual .menu-sub .menu {
  margin-right: 52px;
}
.menu-sub .menu-item,
.menu-sub .edit-btn {
  margin-bottom: 10px;
}
.menu-sub .menu-item {
  margin-right: 12px;
  line-height: 1.3em;
}
.menu-sub .menu-item:last-child {
  margin-right: 0;
}
.menu-sub .menu-link {
  font-size: 16px;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.menu-sub .menu-link.active {
  font-weight: 700;
}
.menu-sub .menu-link:not(.active):hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
@media screen and (max-width: 900px) {
  .menu-sub .menu {
    text-align: left;
  }
  .multilingual .menu-sub .menu {
    margin-right: 0;
  }
}

.menu-lang-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  font-size: 0;
}
.menu-lang-btn:before, .menu-lang-btn:after {
  top: 6px;
  left: 5px;
}
.menu-lang-btn:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.menu-lang-btn:before, .menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:before,
.menu-lang .menu-item .lang-flag:after {
  position: absolute;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.menu-lang-btn:before,
.menu-lang .menu-item .lang-flag:before {
  background-color: black;
}
.menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:after {
  opacity: 0.95;
  background-repeat: no-repeat;
}
.no-svg .menu-lang-btn:after, .no-svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../images/ico-flags.png");
}
.svg .menu-lang-btn:after, .svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}

.menu-lang-popover {
  display: none;
}
.menu-lang-popover.expanded {
  position: absolute;
  top: 26px;
  right: -6px;
  display: block;
  margin-bottom: 40px;
  padding: 6px 0;
  min-width: 123px;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.menu-lang {
  position: relative;
  margin-left: 17px;
  display: inline-block;
  line-height: 1em;
}
.menu-main .menu-lang {
  display: none;
}
.menu-lang .menu-item {
  display: list-item;
  text-align: right;
  font-size: 12px;
}
.menu-lang .menu-link {
  position: relative;
  display: block;
  padding: 5px 40px 4px 13px;
  line-height: 1em;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.menu-lang .menu-link:before, .menu-lang .menu-link:after {
  top: 3px;
  right: 13px;
}
.menu-lang .menu-link.active, .menu-lang .menu-link.active:hover, .menu-lang .menu-link:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.menu-lang .menu-link.active, .menu-lang .menu-link.active:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.menu-lang .menu-link:hover {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.menu-lang .edit-btn {
  margin: 5px 20px;
}
@media screen and (max-width: 900px) {
  .menu-lang {
    display: none;
    line-height: 1.3em;
  }
  .menu-main.expanded .menu-lang {
    top: 0;
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
  .menu-lang .menu-item {
    text-align: left;
  }
  .menu-lang .menu-item:first-child {
    border-top: none;
  }
  .menu-lang .menu-link {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    color: rgba(0, 0, 0, 0.73);
  }
  .menu-main.expanded .menu-lang .menu-link {
    padding: 12px 15px 13px 44px;
  }
  .menu-lang .menu-link:before, .menu-lang .menu-link:after {
    top: 12px;
    left: 15px;
  }
  .menu-lang .menu-link.active, .menu-lang .menu-link.active:hover {
    color: #000000;
    color: rgba(0, 0, 0, 0.8);
    background: none;
  }
  .menu-lang .edit-btn {
    padding: 6px 15px 9px;
  }
}

.lang-flag-sq:after {
  background-position: 0 0;
}

.lang-flag-hy:after {
  background-position: -21px 0;
}

.lang-flag-bn:after {
  background-position: -42px 0;
}

.lang-flag-pt:after {
  background-position: -63px 0;
}

.lang-flag-bg:after {
  background-position: -84px 0;
}

.lang-flag-zh:after {
  background-position: -105px 0;
}

.lang-flag-hr:after {
  background-position: -126px 0;
}

.lang-flag-da:after {
  background-position: -147px 0;
}

.lang-flag-cs:after {
  background-position: -168px 0;
}

.lang-flag-et:after {
  background-position: -189px 0;
}

.lang-flag-fi:after {
  background-position: 0px -15px;
}

.lang-flag-fr:after {
  background-position: -21px -15px;
}

.lang-flag-ka:after {
  background-position: -42px -15px;
}

.lang-flag-de:after {
  background-position: -63px -15px;
}

.lang-flag-el:after {
  background-position: -84px -15px;
}

.lang-flag-hu:after {
  background-position: -105px -15px;
}

.lang-flag-is:after {
  background-position: -126px -15px;
}

.lang-flag-hi:after {
  background-position: -147px -15px;
}

.lang-flag-id:after {
  background-position: -168px -15px;
}

.lang-flag-fa:after {
  background-position: -189px -15px;
}

.lang-flag-he:after {
  background-position: 0px -30px;
}

.lang-flag-it:after {
  background-position: -21px -30px;
}

.lang-flag-ja:after {
  background-position: -42px -30px;
}

.lang-flag-ko:after {
  background-position: -63px -30px;
}

.lang-flag-lv:after {
  background-position: -84px -30px;
}

.lang-flag-lt:after {
  background-position: -105px -30px;
}

.lang-flag-ms:after {
  background-position: -126px -30px;
}

.lang-flag-nl:after {
  background-position: -147px -30px;
}

.lang-flag-no:after {
  background-position: -168px -30px;
}

.lang-flag-ur:after {
  background-position: -189px -30px;
}

.lang-flag-fil:after {
  background-position: 0px -45px;
}

.lang-flag-pl:after {
  background-position: -21px -45px;
}

.lang-flag-ro:after {
  background-position: -42px -45px;
}

.lang-flag-ru:after {
  background-position: -63px -45px;
}

.lang-flag-ar:after {
  background-position: -84px -45px;
}

.lang-flag-sk:after {
  background-position: -105px -45px;
}

.lang-flag-sl:after {
  background-position: -126px -45px;
}

.lang-flag-es:after {
  background-position: -147px -45px;
}

.lang-flag-sv:after {
  background-position: -168px -45px;
}

.lang-flag-tr:after {
  background-position: -189px -45px;
}

.lang-flag-uk:after {
  background-position: 0px -60px;
}

.lang-flag-en:after {
  background-position: -21px -60px;
}

.menu-pagination-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.menu-pagination {
  max-width: 600px;
  margin: 0 auto 43px;
  text-align: center;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-pagination .wrap {
  padding: 0;
  position: relative;
}
.menu-pagination .menu {
  margin: 0 115px;
}
.menu-pagination .menu-item.pagination-previous, .menu-pagination .menu-item.pagination-next {
  position: absolute;
  top: 0;
}
.menu-pagination .menu-item.pagination-previous .menu-link, .menu-pagination .menu-item.pagination-next .menu-link {
  min-width: 77px;
  padding: 10px 19px 8px;
}
.menu-pagination .menu-item.pagination-previous {
  left: 0;
  border-right: 1px solid #000000;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-pagination .menu-item.pagination-next {
  right: 0;
  border-left: 1px solid #000000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-pagination .menu-item.hidden {
  display: none;
}
.menu-pagination .menu-item.disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.menu-pagination .menu-item.disabled .menu-link:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
  cursor: default;
}
.menu-pagination .menu-item.active .menu-link {
  color: #e4ac00;
}
.menu-pagination .menu-item .menu-link {
  padding: 10px 2.5px 8px;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.menu-pagination .menu-item .menu-link:hover {
  color: #e4ac00;
}
@media screen and (max-width: 507px) {
  .menu-pagination .menu-item {
    font-size: 16px;
  }
  .menu-pagination .menu-item.pagination-previous .menu-link, .menu-pagination .menu-item.pagination-next .menu-link {
    padding: 8px 8px 6px;
  }
  .menu-pagination .menu-item .menu-link {
    padding: 8px 2.5px 6px;
  }
}

/* HEADER */
.header {
  position: relative;
}
.front-page .header {
  min-height: 623px;
}
@media screen and (max-width: 582px) {
  .front-page .header {
    min-height: 423px;
  }
}
.search-open .header {
  position: static;
}

.header-top {
  background-color: white;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.front-page .header-top {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.9);
}
.header-top .wrap {
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .flexbox .header-top .wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .no-flexbox .header-top .wrap {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.header-right {
  text-align: right;
}

@media screen and (max-width: 900px) {
  .header-left,
  .header-right {
    float: none;
  }
  .no-flexbox .header-left, .no-flexbox
  .header-right {
    display: table-cell;
    vertical-align: top;
  }

  .header-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 20px;
  }

  .header-right {
    display: inline-block;
  }
}
.header-title {
  position: relative;
  top: 1px;
  display: inline-block;
  vertical-align: middle;
  min-width: 140px;
  min-height: 40px;
  line-height: 1.3em;
  font-weight: 700;
  font-size: 30px;
}
.header-title a {
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.header-title a:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}

.header-bottom-inner {
  display: table;
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.header-bottom-inner a {
  color: white;
}
.header-bottom-inner .wrap {
  display: table-cell;
  vertical-align: middle;
  padding: 60px 20px;
  height: 422px;
}
@media screen and (max-width: 582px) {
  .header-bottom-inner .wrap {
    height: 222px;
  }
}

/* CONTENT */
.content {
  background-color: white;
}
.content .wrap {
  padding: 60px 20px 20px;
}
.content .wrap.with-submenu {
  padding: 20px;
}
.content-page .content .wrap {
  max-width: 600px;
}

.main-feature .wrap,
.summary .wrap {
  padding: 0 20px;
}
@media screen and (max-width: 582px) {
  .main-feature .wrap,
  .summary .wrap {
    padding: 0;
  }
}

.flexbox .main-feature .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.no-flexbox .main-feature .wrap {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-feature .inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-feature .inner:empty {
  display: none;
}
.flexbox .main-feature .inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  min-width: 50%;
}
.no-flexbox .main-feature .inner {
  display: table-cell;
}
.no-flexbox .main-feature .inner:empty {
  display: none;
}
.main-feature .inner-left {
  padding: 48px 20px;
}
.main-feature .inner-right {
  padding: 48px 20px 48px 50px;
}
@media screen and (max-width: 582px) {
  .flexbox .main-feature .wrap, .no-flexbox .main-feature .wrap {
    display: block;
  }
  .main-feature .inner {
    padding: 30px 20px;
  }
  .no-flexbox .main-feature .inner {
    display: block;
  }
  .main-feature .feature-left {
    padding-bottom: 10px;
  }
  .main-feature .feature-right {
    padding-top: 10px;
  }
}

.summary {
  background-color: #e4ac00;
}
.flexbox .summary .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.no-flexbox .summary .wrap {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flexbox .summary .inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.no-flexbox .summary .inner {
  display: table-cell;
  width: 50%;
}
.summary .inner-left {
  padding: 43px 50px 43px 20px;
}
.summary .inner-right {
  padding: 43px 20px 43px 50px;
}
.summary .inner-right:first-child {
  padding: 43px 20px;
}
.summary .blog {
  max-width: 428px;
  border-right: 2px solid white;
}
.summary .quotation {
  position: relative;
  font-size: 24px;
  border-left: 2px solid white;
}
.summary .quotation:first-child {
  border-left: none;
}
@media screen and (max-width: 582px) {
  .flexbox .summary .wrap, .no-flexbox .summary .wrap {
    display: block;
  }
  .summary .inner {
    padding: 30px 20px;
  }
  .no-flexbox .summary .inner {
    display: block;
    width: auto;
  }
  .summary .blog {
    max-width: none;
    border-right: none;
    border-bottom: 4px solid white;
  }
  .summary .quotation {
    border-left: 0;
  }
}

.contacts .wrap {
  padding: 60px 20px;
}
@media screen and (max-width: 900px) {
  .contacts .wrap {
    padding: 30px 20px;
  }
}

.map .embed-container {
  min-height: 270px;
}

/* BLOG & BLOG ARTICLE */
.front-page .blog-title {
  margin: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.front-page .post {
  margin-top: 13px;
}
.front-page .post:first-of-type {
  margin-top: 5px;
}
.front-page .post:last-child {
  margin-bottom: 7px;
}
.front-page .post-title {
  display: inline;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 1px solid white;
}
.front-page .post-title:hover {
  border: none;
}
.front-page .post-title, .front-page .post-title a {
  color: white;
}
.front-page .post-date {
  display: block;
  line-height: 1em;
  font-size: 14px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}

.blog-page .post:first-child,
.post-page .post:first-child {
  padding-top: 0;
}
.blog-page .post-header,
.post-page .post-header {
  text-align: center;
}
.blog-page .post-title,
.post-page .post-title {
  display: inline;
  min-width: 100px;
  margin: 0;
  padding-bottom: 2px;
  line-height: 1.2em;
  border-bottom: solid 1px #000000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.23);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.23);
}
.editmode .blog-page .post-title, .editmode
.post-page .post-title {
  display: inline-block;
  min-width: 300px;
}
.blog-page .post-title, .blog-page .post-title a,
.post-page .post-title,
.post-page .post-title a {
  font-size: 36px;
}
.blog-page .post-title a,
.post-page .post-title a {
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.blog-page .post-title a:hover,
.post-page .post-title a:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}
.blog-page .post-date,
.post-page .post-date {
  display: block;
  margin-top: 5px;
  text-align: center;
  line-height: 1.3em;
  font-size: 18px;
  color: #000000;
  color: rgba(0, 0, 0, 0.1);
}
.blog-page .post-content,
.post-page .post-content {
  margin: 32px auto 0;
}
@media screen and (max-width: 640px) {
  .blog-page .post-title, .blog-page .post-title a,
  .post-page .post-title,
  .post-page .post-title a {
    font-size: 32px;
  }
}

.blog-page .post-add-btn {
  text-align: center;
  margin-bottom: 50px;
}
.blog-page .post {
  padding-top: 50px;
}
.blog-page .post:last-child .post-content {
  border-bottom: none;
}
.blog-page .post-content {
  max-width: 600px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-page .post-body {
  margin-top: 47px;
}

/* GALLERY */
.header-body .edys-gallery {
  display: inline-block;
  margin: 0 auto;
}

.content-page .content .edys-gallery-area .edys-gallery-item, .content-page .content
.edy-gallery-area .edys-gallery-item {
  width: 95.7px;
  height: 95.7px;
}

.content-page .content .edys-gallery-area .edys-gallery-item:nth-child(7n+7) {
  margin-right: 0;
}
@media screen and (max-width: 739px) {
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(7n+7) {
    margin-right: 5px;
  }
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(6n+6) {
    margin-right: 0;
  }
}
@media screen and (max-width: 639px) {
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(6n+6) {
    margin-right: 5px;
  }
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(5n+5) {
    margin-right: 0;
  }
}
@media screen and (max-width: 538px) {
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(5n+5) {
    margin-right: 5px;
  }
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 437px) {
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(4n+4) {
    margin-right: 5px;
  }
  .content-page .content .edys-gallery-area .edys-gallery-item:nth-child(3n+3) {
    margin-right: 0;
  }
}

.content-page .content .edy-gallery-area .edys-gallery-item:nth-child(7n+8) {
  margin-right: 0;
}
@media screen and (max-width: 739px) {
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(7n+8) {
    margin-right: 5px;
  }
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(6n+7) {
    margin-right: 0;
  }
}
@media screen and (max-width: 639px) {
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(6n+7) {
    margin-right: 5px;
  }
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(5n+6) {
    margin-right: 0;
  }
}
@media screen and (max-width: 538px) {
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(5n+6) {
    margin-right: 5px;
  }
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(4n+5) {
    margin-right: 0;
  }
}
@media screen and (max-width: 437px) {
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(4n+5) {
    margin-right: 5px;
  }
  .content-page .content .edy-gallery-area .edys-gallery-item:nth-child(3n+4) {
    margin-right: 0;
  }
}

.edys-gallery-item {
  display: block;
  width: auto;
  height: auto;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.edys-gallery-item.inactive {
  opacity: 0.8;
}
.edys-gallery-item:hover {
  opacity: 1;
}

.narrow-feature .edys-gallery-area .edys-gallery-item,
.narrow-feature .edy-gallery-area .edys-gallery-item {
  position: relative;
  width: 22.6%;
  height: auto;
  margin-right: 3.1%;
  margin-bottom: 3.1%;
}
.narrow-feature .edys-gallery-area .edys-gallery-item:before,
.narrow-feature .edy-gallery-area .edys-gallery-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.narrow-feature .edys-gallery-area .edys-gallery-item .edys-gallery-image,
.narrow-feature .edy-gallery-area .edys-gallery-item .edys-gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}
.narrow-feature .edys-gallery-area .edys-gallery-item .edys-gallery-image.edys-gallery-image-square,
.narrow-feature .edy-gallery-area .edys-gallery-item .edys-gallery-image.edys-gallery-image-square {
  width: 100%;
}
.narrow-feature .edys-gallery-area {
  margin-bottom: -14px;
}
.narrow-feature .edys-gallery-area .edys-gallery-item:nth-child(4n+4) {
  margin-right: 0;
}
.narrow-feature .edy-gallery-area .edys-gallery-item:nth-child(4n+5) {
  margin-right: 0;
}
@media screen and (max-width: 582px) {
  .narrow-feature .edys-gallery-area {
    margin-bottom: 0;
  }
}

/* SEARCH */
.search {
  position: relative;
  top: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  height: 30px;
  line-height: 1em;
  background-color: #e5e5e5;
}
@media screen and (max-width: 900px) {
  .search {
    top: 4px;
  }
}
@media screen and (max-width: 640px) {
  .search {
    position: static;
    display: none;
  }
  .search.active {
    display: block;
    height: 0;
  }
}

.search-form {
  position: relative;
  z-index: 20;
  background-color: white;
}
.search-form .search-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 640px) {
  .search-form {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  .search-form, .search-form.active {
    max-width: 100%;
    margin: 0 auto;
    border: none;
  }
}

.search-input:focus,
.search-submit:focus {
  outline: none;
}

.search-btn {
  position: relative;
  top: 4px;
  right: -5px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.search-btn:hover {
  opacity: 0.6;
}
.search-btn svg {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.73);
}
.search-open-btn .search-btn svg, .search-close-btn .search-btn svg {
  width: 20px;
  height: 20px;
}
.search-submit .search-btn svg {
  width: 16px;
  height: 16px;
}
.no-svg .search-btn {
  background-image: url("../images/ico-search.png");
}
.not-empty .search-btn {
  display: block;
}

.search-input {
  vertical-align: middle;
  width: 140px;
  height: 30px;
  margin: 0;
  padding-left: 9px;
  padding-right: 30px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1em;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
  background-color: #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  /* Reset HTML5 Search Input in Webkit */
}
.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button, .search-input::-webkit-search-results-button, .search-input::-webkit-search-results-decoration, .search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-search-cancel-button, .search-input::-webkit-search-decoration, .search-input::-webkit-search-results-button, .search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.search-input::-webkit-input-placeholder {
  padding: 2px 0 4px 0;
  line-height: 1em;
}
@media screen and (max-width: 640px) {
  .search-input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 0 42px 0 20px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 640px) {
  .search-submit {
    width: 45px;
    height: 40px;
  }
}

.search-open-btn,
.search-close-btn {
  display: none;
}
.search-open-btn svg,
.search-close-btn svg {
  fill: #e4ac00;
}

@media screen and (max-width: 640px) {
  .search-open-btn {
    display: inline-block;
    vertical-align: middle;
  }
  .search-open-btn.open {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .search-close-btn {
    display: none;
  }
  .search-close-btn.open {
    display: inline-block;
    vertical-align: middle;
  }
}

.voog-search-modal {
  position: absolute;
  top: 37px;
  left: -217px;
  right: -41px;
  z-index: 999;
}
@media screen and (max-width: 1040px) {
  .voog-search-modal {
    left: -223px;
    right: -35px;
  }
}
@media screen and (max-width: 640px) {
  .voog-search-modal {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
  .editmode .voog-search-modal {
    bottom: 40px;
  }
}

.voog-search-modal-inner {
  display: none;
  max-height: 760px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5em;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
}
.voog-search-modal-inner.search-results-active {
  display: block;
}
.voog-search-modal-inner.no-content.search-results-active {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .voog-search-modal-inner {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    max-height: none;
    box-shadow: none;
  }
  .voog-search-modal-inner.no-content.search-results-active {
    display: table;
    table-layout: fixed;
    padding: 0;
  }
  .voog-search-modal-inner.no-content.search-results-active,
  .voog-search-modal-inner.no-content.search-results-active .voog-search-modal-results {
    width: 100%;
  }
  .voog-search-modal-inner.no-content.search-results-active .voog-search-modal-results {
    display: table-cell;
    vertical-align: middle;
  }
}
@media screen and (min-width: 640px) and (max-height: 900px) {
  .voog-search-modal-inner {
    max-height: 660px;
  }
}
@media screen and (min-width: 640px) and (max-height: 800px) {
  .voog-search-modal-inner {
    max-height: 560px;
  }
}
@media screen and (min-width: 640px) and (max-height: 700px) {
  .voog-search-modal-inner {
    max-height: 460px;
  }
}
@media screen and (min-width: 640px) and (max-height: 600px) {
  .voog-search-modal-inner {
    max-height: 360px;
  }
}
@media screen and (min-width: 640px) and (max-height: 500px) {
  .voog-search-modal-inner {
    max-height: 260px;
  }
}
@media screen and (min-width: 640px) and (max-height: 400px) {
  .voog-search-modal-inner {
    max-height: 160px;
  }
}

.voog-search-modal-result {
  margin-top: 18px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.voog-search-modal-result h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.voog-search-modal-result h3 a:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}
.voog-search-modal-result p {
  margin: 5px 0 0;
  font-size: 14px;
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: #F9EC5A;
  background-color: rgba(249, 236, 90, 0.5);
  border-radius: 2px;
  padding: 0 0.2em;
}

/* FORMS */
.content-formatted form,
.content-formatted .form {
  max-width: 100%;
}
.main-feature .content-formatted form, .main-feature
.content-formatted .form {
  margin-left: 0;
  margin-right: 0;
}
.content-formatted .form_field {
  margin-top: 20px;
}
.content-formatted .form_field:first-child {
  margin-top: 0;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 16px;
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
}
.dark-background .content-formatted .form_field, .dark-background
.content-formatted .edy-fe-label {
  color: white;
}
.header-bottom .content-formatted .form_field, .header-bottom
.content-formatted .edy-fe-label {
  font-style: normal;
}
.content-formatted .form_field label {
  position: relative;
  display: inline;
  padding-left: 2px;
  font-weight: 400;
  line-height: 1.3em;
  cursor: pointer;
}
.content-formatted .form_field label:after {
  content: '\a';
  white-space: pre;
}
.content-formatted .form_field label:before {
  display: block;
}
.content-formatted .form_field .edy-fe-label,
.content-formatted .form_field .form_field_label {
  padding-left: 0;
  font-weight: 600;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_field_textfield:focus,
.content-formatted .form_field_textarea:focus,
.content-formatted .form_field_select:focus,
.content-formatted .form_submit input:focus {
  outline: none;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select {
  width: 200px;
  margin: 0;
  padding: 5px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-bottom .content-formatted .form_field_textfield, .header-bottom
.content-formatted .form_field_textarea, .header-bottom
.content-formatted .form_field_select {
  color: #000000;
  color: rgba(0, 0, 0, 0.73);
  background-color: white;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.content-formatted .form_field_select {
  text-indent: 0.01px;
  text-overflow: '';
  background-position: top 16px right 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.no-svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.content-formatted .form_field_checkbox,
.content-formatted .form_field_radio {
  visibility: hidden;
  margin-bottom: 8px;
}
.content-formatted .form_field_checkbox + .form_control_indicator,
.content-formatted .form_field_radio + .form_control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}
.content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  position: absolute;
  top: -3px;
  left: 3px;
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  background-size: cover;
}
.no-svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../images/ico-tick.png");
}
.svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../assets/ico-tick.svg");
}
.content-formatted .form_field_radio + .form_control_indicator, .content-formatted .form_field_radio + .form_control_indicator:before {
  border-radius: 100%;
}
.content-formatted .form_field_radio:checked + .form_control_indicator:before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 9px;
  height: 9px;
  content: '';
  background-color: black;
}
.content-formatted .form_field_size_medium {
  width: 400px;
}
.content-formatted .form_field_size_large {
  width: 600px;
}
.content-formatted .form_submit {
  margin-top: 20px;
}
.content-formatted .form_submit input {
  display: block;
  float: right;
  margin: 0;
  padding: 14px 24px;
  font-size: 18px;
  color: white;
  line-height: 1em;
  background-color: #e4ac00;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_submit input:hover {
  background-color: #E4AC00;
  background-color: rgba(228, 172, 0, 0.8);
}
.content-formatted .form_field_required .form_field_label:after {
  content: ' * \a';
}
.content-formatted .form_field_with_errors .form_field_textfield::-webkit-input-placeholder,
.content-formatted .form_field_with_errors .form_field_textarea::-webkit-input-placeholder {
  color: #cc0000;
}
.content-formatted .form_field_with_errors .form_field_textfield::-moz-placeholder,
.content-formatted .form_field_with_errors .form_field_textarea::-moz-placeholder {
  color: #cc0000;
}
.content-formatted .form_field_with_errors .form_field_textfield:-moz-placeholder,
.content-formatted .form_field_with_errors .form_field_textarea:-moz-placeholder {
  color: #cc0000;
}
.content-formatted .form_field_with_errors .form_field_textfield:-ms-input-placeholder,
.content-formatted .form_field_with_errors .form_field_textarea:-ms-input-placeholder {
  color: #cc0000;
}
.content-formatted .form_field_with_errors .form_field_textfield .placeholder,
.content-formatted .form_field_with_errors .form_field_textarea .placeholder {
  color: #cc0000;
}
.content-formatted .form_field_error {
  margin-top: 5px;
  margin-left: 1px;
  color: #cc0000;
}
.content-formatted .form_error,
.content-formatted .form_notice {
  margin: 18px 0;
  font-weight: 600;
  font-size: 24px;
}
.content-formatted .form_error {
  color: #cc0000;
}
.content-formatted .form_notice {
  color: #60a740;
}
@media screen and (max-width: 740px) {
  .content-formatted form,
  .content-formatted .form {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .content-formatted .form_field_textfield,
  .content-formatted .form_field_textarea,
  .content-formatted .form_field_select,
  .content-formatted .form_submit input {
    width: 100%;
  }
}

/* COMMENTS */
.comments {
  margin-top: 16px;
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.comments .wrap {
  padding: 26px 20px 20px;
}
.content-page .comments .wrap {
  max-width: 600px;
}
.comments .comment {
  padding: 30px 0;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.comments .comment:first-child {
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.comments .comments-title {
  text-align: left;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}
.content-page .content .comments .comments-title {
  margin-left: 0;
  margin-right: 0;
}
.comments .comment-messages {
  margin: 24px 0;
}
.comments .comment-author {
  margin-top: 15px;
  color: #e4ac00;
}
.comments .comment-date {
  margin-top: -5px;
  font-style: italic;
  font-size: 16px;
  color: #000000;
  color: rgba(0, 0, 0, 0.37);
}

.comment-form form {
  margin-left: 0;
  margin-right: 0;
}
.comment-form .placeholder {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}

.content-formatted .comment_form_textfield_wrap, .content-formatted
.comment_form_textarea_wrap {
  margin-top: 0;
}
@media screen and (max-width: 660px) {
  .content-formatted .comment_form_textfield_wrap, .content-formatted
  .comment_form_textarea_wrap {
    padding-top: 20px;
  }
}

.comment_form_textfield_wrap {
  float: left;
  max-width: 290px;
}
.comment_form_textfield_wrap:first-child {
  margin-right: 20px;
}
.comment_form_textfield_wrap .form_field_textfield {
  width: 290px;
  padding: 10px;
}
@media screen and (max-width: 660px) {
  .comment_form_textfield_wrap {
    display: block;
    float: none;
    max-width: none;
  }
  .comment_form_textfield_wrap:first-child {
    margin-right: 0;
    padding-top: 0;
  }
  .comment_form_textfield_wrap .form_field_textfield {
    width: 100%;
  }
}

.comment_form_textarea_wrap {
  clear: both;
  padding-top: 20px;
}
.comment_form_textarea_wrap .form_field_textarea {
  display: block;
  width: 600px;
  padding: 10px;
}

/* FOOTER */
.footer-positioner {
  height: 80px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-inner {
  min-height: 80px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.73);
}
.footer-inner.dark-backrgound .content-formatted {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.footer-inner .wrap {
  padding: 24px 20px 22px;
}
.footer-inner .footer-left,
.footer-inner .footer-right {
  min-width: 188px;
}
.footer-inner .footer-left {
  position: relative;
  top: 2px;
  margin-right: 20px;
}
.footer-inner .footer-right {
  position: relative;
  top: 4px;
}
.footer-inner .voog-reference {
  margin-top: 30px;
  text-align: center;
}
.footer-inner .voog-reference a {
  padding: 7px 9px;
  font-size: 10px;
  color: #E4AC00;
  color: rgba(228, 172, 0, 0.75);
  line-height: 1em;
  background-color: white;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-inner .voog-reference a:hover {
  color: #E4AC00;
  color: rgba(228, 172, 0, 0.75);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 749px) {
  .footer-inner .footer-right {
    float: left;
  }
}
@media screen and (max-width: 640px) {
  .footer-inner .footer-left,
  .footer-inner .footer-right {
    float: none;
    text-align: center;
  }
  .footer-inner .footer-left {
    margin-right: 0;
  }
  .footer-inner .footer-right {
    margin-top: 5px;
  }
}
