// =============================================================================
// Content area buy button
// =============================================================================
.formatted {
  .edy-buy-button-container {
    // sass-lint:disable class-name-format
    .form_field {
      padding: 12px 0;

      label {
        font-size: 14px;
        padding-bottom: 0;
      }
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .form_field_select {
      width: initial;
      outline: 0;
      color: $color-black;
    }
    // sass-lint:enable class-name-format
  }
}
