.product-content {
  margin-top: 16px;

  .without-image .item-top {
    background-color: rgba(0, 0, 0, .05);
    background-image: url('../assets/ico-placeholder.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
  }

  .product-price {
    padding: 12px 0 24px;

    .product-price-original {
      display: inline-block;
      padding-right: 4px;
      opacity: .4;
    }

    .product-price-final {
      display: inline-block;
    }
  }

  .content-gallery {
    padding: 24px 0;
  }

  .product-cross-page-info {
    margin-bottom: 32px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content-illustrations,
  .content-body {
    max-width: 100%;
  }

  .content-body {
    position: sticky;
    top: 104px;
    z-index: $zindex-ca-interaction-button + 1;
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
